@model TecDocEcoSystemDbClassLibrary.EnterpriseUserContactTDES
@using CarShop.Properties;
@{
    ViewBag.Title = Resources.CREATENEW_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    String SearchEntUserNic = ViewBag.SearchEntUserNic as String;
    String EntUserDescription = ViewBag.EntUserDescription as String;
    SelectList ContactTypes = ViewBag.ContactTypes;
}

<h2>@Resources.CREATENEW_ACTION</h2>



@if ( String.IsNullOrEmpty( SearchEntUserNic ) )
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseUserTDES_INDEX, "Index", "EnterpriseUsers", new { searchEntGuid = SearchEntGuid }, new { })</li>
            if (!String.IsNullOrEmpty(SearchEntUserNic))
            {
                <li>@Html.ActionLink(EntUserDescription, "Details", "EnterpriseUsers", new { userId = SearchEntUserNic }, new { })</li>
                <li>@Html.ActionLink(Resources.MYCONTACTS, "Index", new {searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })</li>
            }
        }
    </ol>
    @Html.ValidationSummary(true)
} else {

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        @*<h4>EnterpriseUserContactTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
            {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.EnterpriseUserTDES_INDEX, "Index", "EnterpriseUsers", new { searchEntGuid = SearchEntGuid }, new { })</li>
            if (!String.IsNullOrEmpty(SearchEntUserNic))
            {
                <li>@Html.ActionLink(EntUserDescription, "Details", "EnterpriseUsers", new { userId = SearchEntUserNic }, new { })</li>
                <li>@Html.ActionLink(Resources.MYCONTACTS, "Index", new {searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })</li>
            }
        }
        </ol>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.EntUserNic)
        @Html.HiddenFor(model => model.EntGuid)


        <div class="form-group">
            @Html.LabelFor(model => model.ContactGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactGuid)
                @Html.ValidationMessageFor(model => model.ContactGuid)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact)
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsVisible)
                @Html.ValidationMessageFor(model => model.IsVisible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ContactTypeId,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ContactTypeId, ContactTypes, String.Empty)
                @Html.ValidationMessageFor(model => model.ContactTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.CREATE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

}