@model TecDocEcoSystemDbClassLibrary.EnterpriseUserContactTDES
@using CarShop.Properties;
@{
    ViewBag.Title = Resources.DELETE_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    String SearchEntUserNic = ViewBag.SearchEntUserNic as String;
    String EntUserDescription = ViewBag.EntUserDescription as String;
}

<h2>@Resources.DELETE_ACTION</h2>

@if ( String.IsNullOrEmpty( SearchEntUserNic ) )
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseUserTDES_INDEX, "Index", "EnterpriseUsers", new { searchEntGuid = SearchEntGuid }, new { })</li>
            if (!String.IsNullOrEmpty(SearchEntUserNic))
            {
                <li>@Html.ActionLink(EntUserDescription, "Details", "EnterpriseUsers", new { userId = SearchEntUserNic }, new { })</li>
                <li>@Html.ActionLink(Resources.MYCONTACTS, "Index", new {searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })</li>
            }
        }
    </ol>
    @Html.ValidationSummary(true)
} else {


<h3>@Resources.SURE_TO_DELETE</h3>
<div>
    @*<h4>EnterpriseUserContactTDES</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseUserTDES_INDEX, "Index", "EnterpriseUsers", new { searchEntGuid = SearchEntGuid }, new { })</li>
            if (!String.IsNullOrEmpty(SearchEntUserNic))
            {
                <li>@Html.ActionLink(EntUserDescription, "Details", "EnterpriseUsers", new { userId = SearchEntUserNic }, new { })</li>
                <li>@Html.ActionLink(Resources.MYCONTACTS, "Index", new {searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })</li>
            }
        }
    </ol>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactType.ContactTypeDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.DELETE_ACTION" class="btn btn-danger" /> 
            @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid, searchEntUserNic = SearchEntUserNic })
        </div>
    }
</div>

}