@model TecDocEcoSystemDbClassLibrary.SettlementType
@using CarShop.Properties;
@{
    ViewBag.Title = Resources.DETAILS_ACTION;
}

<h2>@Resources.DETAILS_ACTION</h2>

<div>
    @*<h4>SettlementType</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.SettlementType_INDEX, "Index")</li>
    </ol>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SettlementTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettlementTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettlementTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettlementTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettlementTypeShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettlementTypeShortDescription)
        </dd>

    </dl>
</div>
<p>
    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
    {
        @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { id = Model.SettlementTypeId }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index")
</p>
