@using CarShop.Properties;
@using TecDocEcoSystemDbClassLibrary;

@model IEnumerable<TecDocEcoSystemDbClassLibrary.ANALOGOUS_TD>

@{
    ViewBag.Title = Resources.CARMODELTYPETREEITEMANALOG_INDEX;
    int CountryId = ViewBag.CountryId;
    int LangId = ViewBag.LangId;
    int BandId = ViewBag.BandId;
    int ModelId = ViewBag.ModelId;
    int ModelTypeId = ViewBag.ModelTypeId;
    int TopicId = ViewBag.TopicId;
}

<h2>@Resources.CARMODELTYPETREEITEMANALOG_INDEX</h2>

<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.TecDocModel_INDEX, "Index", "TecDoc", new { countryId = ViewBag.CountryId, langId = ViewBag.LangId, bandId = ViewBag.BandId, fluelId = ViewBag.FluelId }, new { })</li>
    @if (!String.IsNullOrEmpty(ViewBag.ModelDescription))
    {
        <li>@Html.ActionLink(ViewBag.ModelDescription as string, "ModelType", "TecDoc", new { modelId = ViewBag.ModelId, countryId = ViewBag.CountryId, langId = ViewBag.LangId, bandId = ViewBag.BandId, fluelId = ViewBag.FluelId }, new { })</li>
        <li>@Html.ActionLink(Resources.CARMODELTYPETREE_INDEX, "ModelTypeTree", "TecDoc", new { modelTypeId = ViewBag.ModelTypeId, modelId = ViewBag.ModelId, countryId = ViewBag.CountryId, langId = ViewBag.LangId, bandId = ViewBag.BandId, fluelId = ViewBag.FluelId, topicId = ViewBag.TopicId }, new { })</li>

        if (TopicId != 0)
        {
            <li>@Html.ActionLink(Resources.CARMODELTYPETREEITEMS_INDEX, "ModelTypeTreeItems", "TecDoc", new { topicId = ViewBag.TopicId, modelTypeId = ViewBag.ModelTypeId, modelId = ViewBag.ModelId, countryId = ViewBag.CountryId, langId = ViewBag.LangId, bandId = ViewBag.BandId, fluelId = ViewBag.FluelId, tof_assemblyId = ViewBag.Tof_assemblyId, tof_suppliersId = ViewBag.Tof_suppliersId }, new { })</li>
        }
    }
</ol>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ART_ID)/@Html.DisplayNameFor(model => model.ART_ARTICLE_NR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUP_TEXT)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MASTER_BEZ)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GA_NR)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GA_TEXT)
            </th>*@

    </tr>
    @{ int curGA_NR = 0; }
    @foreach (var item in Model)
    {
        if (curGA_NR != item.GA_NR)
        {
            curGA_NR = item.GA_NR;
            <tr>
                <th colspan="2"> @Html.DisplayFor(modelItem => item.GA_NR) : @Html.DisplayFor(modelItem => item.GA_TEXT) : @Html.DisplayFor(modelItem => item.MASTER_BEZ)</th>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ART_ID) : @Html.DisplayFor(modelItem => item.ART_ARTICLE_NR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUP_TEXT)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MASTER_BEZ)
                </td>

                @*<td>
                    @Html.DisplayFor(modelItem => item.GA_NR)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GA_TEXT)
                </td>*@
        </tr>
    }

</table>

