@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.EnterpriseBranchTDES

@{
    ViewBag.Title = Resources.EDIT_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    SelectList BranchTypes = ViewBag.sliBranchType as SelectList;
}


<h2>@Resources.EDIT_ACTION</h2>

@if (!SearchEntGuid.HasValue)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { })</li>
        }
    </ol>

    @Html.ValidationSummary(true)
} else {

using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>EnterpriseBranchTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
            {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { })</li>
            }
        </ol>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EntGuid)


        <div class="form-group">
            @Html.LabelFor(model => model.EntBranchGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EntBranchGuid, new { @readonly = "true" })
                @Html.ValidationMessageFor(model => model.EntBranchGuid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntBranchDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntBranchDescription)
                @Html.ValidationMessageFor(model => model.EntBranchDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsVisible)
                @Html.ValidationMessageFor(model => model.IsVisible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchTypeId,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BranchTypeId, BranchTypes, String.Empty)
                @Html.ValidationMessageFor(model => model.BranchTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TecDocCatalog, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TecDocCatalog)
                @Html.ValidationMessageFor(model => model.TecDocCatalog)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesCatalog, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesCatalog)
                @Html.ValidationMessageFor(model => model.SalesCatalog)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncomeCatalog, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncomeCatalog)
                @Html.ValidationMessageFor(model => model.IncomeCatalog)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderCatalog, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderCatalog)
                @Html.ValidationMessageFor(model => model.OrderCatalog)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.SAVE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid }, new { })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}