@model TecDocEcoSystemDbClassLibrary.OriginalCatalogTDES
@using CarShop.Properties;

@{
    ViewBag.Title = Resources.DELETE_ACTION;
}

<h2>@Resources.DELETE_ACTION</h2>

<h3>@Resources.SURE_TO_DELETE</h3>
<div>
    @*<h4>OriginalCatalogTDES</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.OriginalCatalog, "Index")</li>
    </ol>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalCatalogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalCatalogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalCatalogURI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalCatalogURI)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.DELETE_ACTION" class="btn btn-danger" />
            @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index")
        </div>
    }
</div>
