@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.SaleBasketTDES

@{
    ViewBag.Title = Resources.DELETE_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;

    String SearchEntUserNic = ViewBag.SearchEntUserNic;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Проведение продаж", "SaleBasket", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>

<h2>@Resources.DELETE_ACTION</h2>

@if (String.IsNullOrEmpty(SearchEntUserNic)) {
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
    {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { })</li>

        if (SearchEntBranchGuid.HasValue)
        {
            <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.BranchUser_INDEX, "Index", "EnterpriseBranchUsers", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
            if (!String.IsNullOrEmpty(SearchEntUserNic))
            {
                <li>@Html.ActionLink(SearchEntUserNic, "Details", "EnterpriseBranchUsers", new { userId = SearchEntUserNic }, new { })</li>
                <li>@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", new { searchEntUserNic = SearchEntUserNic, searchEntGuid=SearchEntGuid,  searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
            }
        }
    }
    </ol>

    @Html.ValidationSummary(true)
} else {

<h3>@Resources.SURE_TO_DELETE</h3>
<div>
    @*<h4>SaleBasketTDES</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { })</li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.BranchUser_INDEX, "Index", "EnterpriseBranchUsers", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
                if (!String.IsNullOrEmpty(SearchEntUserNic))
                {
                    <li>@Html.ActionLink(SearchEntUserNic, "Details", "EnterpriseBranchUsers", new { userId = SearchEntUserNic }, new { })</li>
                    <li>@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", new { searchEntUserNic = SearchEntUserNic, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
                }
            }
        }
    </ol>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntBasketGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntBasketGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpellGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpellGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReverse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReverse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentSum)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.DELETE_ACTION" class="btn btn-danger" /> 
            @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", "SaleBasket", new { searchEntUserNic = SearchEntUserNic, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })
        </div>
    }
</div>

}    