@using CarShop.Properties;

@model TecDocEcoSystemDbClassLibrary.RevaluationArticleTDES

@{
    ViewBag.Title = Resources.CREATENEW_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;

    Guid? searchSheetRevaluationTDESGuid = ViewBag.searchSheetRevaluationTDESGuid;
    String searchSheetRevaluationDescr = ViewBag.searchSheetRevaluationDescr;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Управление ведомостями переоценки", "SheetRevaluation", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.CREATENEW_ACTION</h2>

@if (!searchSheetRevaluationTDESGuid.HasValue)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid}, new { })</li>
                if (searchSheetRevaluationTDESGuid.HasValue)
                {
                    <li>@Html.ActionLink(searchSheetRevaluationDescr, "Details", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, id = searchSheetRevaluationTDESGuid}, new { })</li>
                    <li>@Html.ActionLink(Resources.IncomeArticleTDES_INDEX, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })</li>
                }
            }
        }
    </ol>
    <div class="alert alert-warning">@Html.ValidationSummary(true)</div>
} else {


using (Html.BeginForm("Create", "RevaluationArticle"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>RevaluationArticleTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
        {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid}, new { })</li>
                if (searchSheetRevaluationTDESGuid.HasValue)
                {
                    <li>@Html.ActionLink(searchSheetRevaluationDescr, "Details", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, id = searchSheetRevaluationTDESGuid}, new { })</li>
                    <li>@Html.ActionLink(Resources.IncomeArticleTDES_INDEX, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })</li>
                }
            }
        }
        </ol>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EntGuid)
        @Html.HiddenFor(model => model.EntBranchGuid)
        @Html.HiddenFor(model => model.IsProcessed)
        @Html.HiddenFor(model => model.IsReversed)
        @Html.HiddenFor(model => model.SheetRevaluationTDESGuid)
        @Html.HiddenFor(model => model.OperSum)


        
        <div class="form-group">
            @Html.LabelFor(model => model.IncomePayRollTDESGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncomePayRollTDESGuid)
                @Html.ValidationMessageFor(model => model.IncomePayRollTDESGuid)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EntArticle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntArticle)
                <input type="submit" name="IncomeArticleLookUp" value="..." data-look-up-input="data-look-up-input" class="btn btn-info" />
                @Html.ValidationMessageFor(model => model.EntArticle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntBrandNic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntBrandNic)
                @Html.ValidationMessageFor(model => model.EntBrandNic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntArticleDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntArticleDescription)
                @Html.ValidationMessageFor(model => model.EntArticleDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrArtPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrArtPrice)
                @Html.ValidationMessageFor(model => model.CurrArtPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtAmountRest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtAmountRest)
                @Html.ValidationMessageFor(model => model.ArtAmountRest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewArtPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewArtPrice)
                @Html.ValidationMessageFor(model => model.NewArtPrice)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.CREATE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/autocompleteVal")
}
    
    
}    