@using CarShop.Properties;

@model TecDocEcoSystemDbClassLibrary.RevaluationArticleTDES

@{
    ViewBag.Title = Resources.DETAILS_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;

    Guid? searchSheetRevaluationTDESGuid = ViewBag.searchSheetRevaluationTDESGuid;
    String searchSheetRevaluationDescr = ViewBag.searchSheetRevaluationDescr;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Управление ведомостями переоценки", "SheetRevaluation", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.DETAILS_ACTION</h2>


@if (!searchSheetRevaluationTDESGuid.HasValue)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid}, new { })</li>  
                if (searchSheetRevaluationTDESGuid.HasValue)
                {
                    <li>@Html.ActionLink(searchSheetRevaluationDescr, "Details", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, id = searchSheetRevaluationTDESGuid}, new { })</li>  
                    <li>@Html.ActionLink(Resources.IncomeArticleTDES_INDEX, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })</li>  
                }
            }
        }
    </ol>
    <div class="alert alert-warning">@Html.ValidationSummary(true)</div>
} else { 
    
<div>
    @*<h4>RevaluationArticleTDES</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid}, new { })</li>
                if (searchSheetRevaluationTDESGuid.HasValue)
                {
                    <li>@Html.ActionLink(searchSheetRevaluationDescr, "Details", "SheetRevaluation", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, id = searchSheetRevaluationTDESGuid}, new { })</li>
                    <li>@Html.ActionLink(Resources.IncomeArticleTDES_INDEX, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })</li>  
                }
            }
        }
    </ol>

	<hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncomePayRollTDESGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomePayRollTDESGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArticle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntArticle)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EntBrandNic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntBrandNic)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EntArticleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntArticleDescription)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReversed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReversed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrArtPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrArtPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtAmountRest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtAmountRest)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NewArtPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewArtPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.OperSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperSum)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

</div>
<p>
    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
    {
        @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new {  EntArticle=Model.EntArticle,EntBrandNic=Model.EntBrandNic,IncomePayRollTDESGuid=Model.IncomePayRollTDESGuid,SheetRevaluationTDESGuid=searchSheetRevaluationTDESGuid,searchEntGuid=SearchEntGuid,searchEntBranchGuid=SearchEntBranchGuid   },  new { @class = "btn btn-primary" })
    }
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", "RevaluationArticle", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchSheetRevaluationTDESGuid = searchSheetRevaluationTDESGuid}, new { })
</p>

}    