@using CarShop.Properties;
@using PagedList.Mvc;

@model PagedList.IPagedList<TecDocEcoSystemDbClassLibrary.EnterpriseUserTDES>


@{
    ViewBag.Title = Resources.EnterpriseUserTDES_INDEX;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    String CurrentFilter = ViewBag.currentFilter as String;
    SelectList sliIsActive = ViewBag.sliIsActive as SelectList;
    SelectList sliIsAdmin = ViewBag.sliIsAdmin as SelectList;
    SelectList sliIsAudit = ViewBag.sliIsAudit as SelectList;
    int showIsAudit = ViewBag.showIsAudit;
    int showIsAdmin = ViewBag.showIsAdmin;
    int showIsActive = ViewBag.showIsActive;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Resources.EnterpriseUsersHelp1 <br> @Resources.EnterpriseUsersHelp2
    </div>
</div>


<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
    @if (SearchEntGuid.HasValue)
    {
        <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
    }
</ol>


<h2>@Resources.EnterpriseUserTDES_INDEX</h2>

@Html.ValidationSummary(true)

@if (SearchEntGuid.HasValue)
{

    if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
    {

        <p>
            @Html.ActionLink(Resources.CREATENEW_ACTION, "Create", routeValues: new { searchEntGuid = SearchEntGuid }, htmlAttributes: new { @class = "btn btn-primary" })
        </p>

    }

    using (Html.BeginForm("Index", "EnterpriseUsers", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <h3>@Resources.FILTER_TITLE</h3>
        @Html.Hidden("searchEntGuid", SearchEntGuid)
        <div class="form-group">
            @Resources.FILTER_ISACTIVE
        </div>
        <div class="form-group">
            @Html.DropDownList("showIsActive", sliIsActive, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Resources.FILTER_ISADMIN
        </div>
        <div class="form-group">
            @Html.DropDownList("showIsAdmin", sliIsAdmin, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Resources.FILTER_ISAUDIT
        </div>
        <div class="form-group">
            @Html.DropDownList("showIsAudit", sliIsAudit, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Resources.FILTER_NIC
        </div>
        <div class="form-group">
            @Html.TextBox("currentFilter", ViewBag.CurrentFilter as string, new { @class = "form-control", data_autocomplete_url = Url.Action("Autocomplete", new { searchEntGuid = Html.Encode(SearchEntGuid) }) })
        </div>
        <input type="submit" value="@Resources.SEARCH_ACTION" class="btn btn-info" />
    }

    var dummy = Model.FirstOrDefault();

    <input type="button" class="btn btn-info visible-xs visible-sm" onclick="$('tr.warning').each(function () { if ($(this).is(':hidden')) $(this).show(); else $(this).hide(); })" value="@Resources.ShowHideBtn" />


    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummy.EntUserNic)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.LastName)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => dummy.FirstName)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => dummy.MiddleName)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => dummy.IsActive)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => dummy.IsAdmin)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => dummy.IsAudit)
            </th>
            <th class="hidden-xs hidden-sm"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntUserNic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.IsAudit)
                </td>
                <td class="hidden-xs hidden-sm btn-group btn-group-xs">
                    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
                    {
                        @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-primary" })
                    }

                    @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-info" })

                    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
                    {
                        @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
            
            <tr class="warning">
                <td colspan="2" class="visible-xs visible-sm">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => dummy.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => dummy.MiddleName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.MiddleName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => dummy.IsActive)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.IsActive)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => dummy.IsAdmin)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => item.IsAdmin)
                        </dd>
                    </dl>
                </td>
            </tr>

            <tr class="visible-xs visible-sm active">
                <td colspan="2" class="btn-group btn-group-xs">
                    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
                    {
                        @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-primary" })
                    }

                    @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-info" })

                    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
                    {
                        @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { userId = item.EntUserNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }
    </table>


    @Html.PagedListPager(Model, page => Url.Action("Index", new { searchEntGuid = SearchEntGuid, currentFilter = CurrentFilter, showIsAudit = showIsAudit, showIsAdmin = showIsAdmin, showIsActive = showIsActive, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.PAGE_OF  @Model.PageCount

    @section Scripts {
        @Scripts.Render("~/bundles/autocomplete")
    }

}
