@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.GuestBranchTDES

@{
    ViewBag.Title = Resources.CREATENEW_ACTION;
    SelectList CurrencyList = ViewBag.CurrencyList as SelectList;
}

<h2>@Resources.CREATENEW_ACTION</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>GuestBranchTDES</h4>*@
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.EntBranchGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntBranchGuid)
                @Html.ValidationMessageFor(model => model.EntBranchGuid)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.EntBranchDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntBranchDescription)
                @Html.ValidationMessageFor(model => model.EntBranchDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressPostCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressPostCode)
                @Html.ValidationMessageFor(model => model.AddressPostCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressRegion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressRegion)
                @Html.ValidationMessageFor(model => model.AddressRegion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressSettlementName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressSettlementName)
                @Html.ValidationMessageFor(model => model.AddressSettlementName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressStreetName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressStreetName)
                @Html.ValidationMessageFor(model => model.AddressStreetName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressLongitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLongitude)
                @Html.ValidationMessageFor(model => model.AddressLongitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressLatitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLatitude)
                @Html.ValidationMessageFor(model => model.AddressLatitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkingDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkingDays)
                @Html.ValidationMessageFor(model => model.WorkingDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkingTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkingTime)
                @Html.ValidationMessageFor(model => model.WorkingTime)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PriceCurrencyIso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.PriceCurrencyIso)*@
                @Html.DropDownListFor(model => model.PriceCurrencyIso, CurrencyList, String.Empty)
                @Html.ValidationMessageFor(model => model.PriceCurrencyIso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExchRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExchRate)
                @Html.ValidationMessageFor(model => model.ExchRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rounding, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rounding)
                @Html.ValidationMessageFor(model => model.Rounding)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Multiplexer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Multiplexer)
                @Html.ValidationMessageFor(model => model.Multiplexer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phones, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phones)
                @Html.ValidationMessageFor(model => model.Phones)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteUrl)
                @Html.ValidationMessageFor(model => model.SiteUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopLicense, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopLicense)
                @Html.ValidationMessageFor(model => model.ShopLicense)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopSupply, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopSupply)
                @Html.ValidationMessageFor(model => model.ShopSupply)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.CREATE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index")
</div>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
