@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.GuestBranchTDES

@{
    ViewBag.Title = Resources.DELETE_ACTION;
}

<h2>@Resources.DELETE_ACTION</h2>

<h3>@Resources.SURE_TO_DELETE</h3>
<div>
    @*<h4>GuestBranchTDES</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntBranchGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntBranchGuid)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EntBranchDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntBranchDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressSettlementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressSettlementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingTime)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.PriceCurrencyIso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceCurrencyIso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExchRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rounding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rounding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multiplexer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multiplexer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopLicense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopSupply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopSupply)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.DELETE_ACTION" class="btn btn-danger" /> 
            @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index")
        </div>
    }
</div>
