@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.BranchType

@{
    ViewBag.Title = Resources.EDIT_ACTION;
}

<h2>@Resources.EDIT_ACTION <small>@Resources.BranchType_INDEX</small></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>BranchType</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.BranchType_INDEX, "Index")</li>
        </ol>
        <hr />
        @Html.ValidationSummary(true)
        @*@Html.HiddenFor(model => model.BranchTypeId)*@

        <div class="form-group">
            @Html.LabelFor(model => model.BranchTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.BranchTypeId)*@
                @Html.TextBoxFor(model => model.BranchTypeId, new { @readonly = "true" })
                @Html.ValidationMessageFor(model => model.BranchTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchTypeDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BranchTypeDescription)
                @Html.ValidationMessageFor(model => model.BranchTypeDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.SAVE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
