@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.EnterpriseSupplierTDES

@{
    ViewBag.Title = Resources.DELETE_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Resources.EnterpriseSupplierHelp1<br />
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Приход на магазин", "Income", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.DELETE_ACTION</h2>

@if (! SearchEntGuid.HasValue )
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseSupplier_INDEX, "Index", "EnterpriseSupplier", new { searchEntGuid = SearchEntGuid }, new { })</li>
        }
    </ol>

    @Html.ValidationSummary(true)
} else {



<h3>@Resources.SURE_TO_DELETE</h3>
<div>
    @*<h4>EnterpriseSupplierTDES</h4>*@
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseSupplier_INDEX, "Index", "EnterpriseSupplier", new { searchEntGuid = SearchEntGuid }, new { })</li>
        }
    </ol>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntSupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntSupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntSupplierDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntSupplierDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("categoryItemId", Model.EntGuid)
        <div class="form-actions no-color">
            <input type="submit" value="@Resources.DELETE_ACTION" class="btn btn-danger" /> 
            @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid }, new { }) 
        </div>
    }
</div>
}