@using CarShop.Properties;

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>1. Каталог артикулов</h2>
}

<h2>Роль: Администратор предприятия</h2>
Каталог артикулов является единым для всех продразделений(магазинов) предприятия (или торговой сети). 
Поэтому право на внесение изменений присвоено только администратору предприятия. <p/>

Наличие такого каталога обязательно для функционирования системы. 
Напомним, что в решении не требуется чтобы нумерация товаров в магазине совпадала с нумерацией TecDoc. 
Такая гибкость достигается ведением специального ресурса - каталога артикулов предприятия (или торговой сети). 
Каждая запись в этом каталоге артикулов предприятия представляет собой пару нумераторов товаров. 
Первым нумератором является нумератор товара в ващей тороговой сети (предприятия). 
И вторым нумератором является нумератор TecDoc. Нумератор товара в TecDoc представляет собой пару состоящую 
из брэнда (узнаваемое имя производителя) и номера который был присвоен этому товару этим производителем. 
По аналогии, номератор товара в вашей торговой сети должен сотоять из пары (брэнд + номер, который присвоен товару в вашем магазине).
Каталог артикулов привязывается не к магазину (т.е. подразделению), 
но привязывается к торговой сети. (Напомним, что торговая сеть это список магазинов, принядлежащих одному владельцу.)

Каталог артикулов (не путать с каталогом остатков) торговой сети представляет собой описание наименований товаров, которыми торгуют все магазины предприятия. <p />

Подразделение(магазин) не сможет провести оприходование, переоценку, продажу наименования товара, если он отсутствует в каталоге артикулов.<p />

<h3>Описание наименования товара</h3>
Описание наименования товара <b>состоит из двух частей:</b>
    внутреннего и внешнего нумераторов.
    Причина использования сразу двух нумераторов следующая: <br />
    С одной стороны есть нумерация товаров приянятая на на предприятии.
    С другой стороны, существуют европейские каталоги товаров (к примеру, TecDoc) со своей нумерацией.
    Нельзя требовать от предприятия полного совпадения  нумераций. К примеру, предприятие торгует товаром, который отсутствует во внешнем каталоге
    или предприятие начало свою деятельность очень давно и просто не может изменить свою нумерацию товаров.
    Чтобы решить эту проблему ведется каталог пар - внутренний нумератор и внешний.


    <h4>Внутренний нумератор</h4>
    Внутренний нумератор состоит из кода товара, брэнда и наименования

    <h4>Внешний нумератор</h4>
    Внешний нумератор состоит из кода товара, брэнда и EAN (штрих-кода европейской торговой сети)

    <h3>Наполнение: Брэнды предприятия</h3>
    Администратор предприятия должен перейти на страницу
    @Html.ActionLink(Resources.EnterpriseBrand_INDEX, "Index", "EnterpriseBrand", new { }, new { @class = "btn btn-primary btn-xs" })
    и внести запись в каталог брэндов, которыми торгует предприятие или убедиться, что такой брэнд уже существует.
    Кликните по кнопке Создать, чтобы открыть диалог по созданию записи.<p />
    Если вы вошли с ролью администратора экосистемы вы дожны на страничке
    @Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises", new { }, new { @class = "btn btn-info btn-xs" })
    выбрать предприятие кликнув по кнопке Детально. Появится страница с меню действий для выбранного предприятия.
    Кликните пункт меню Брэнды предприятия.

    <h3>Наполнение: Артикулы предприятия</h3>
    Администратор предприятия должен перейти на страницу
    @Html.ActionLink(Resources.EnterpriseArticle_INDEX, "Index", "EnterpriseArticle2", new { }, new { @class = "btn btn-primary btn-xs" })
    и внести запись в каталог артикулов. Кликните по кнопке Создать, чтобы открыть диалог по созданию записи.<p />
    Если вы вошли с ролью администратора экосистемы вы дожны на страничке
    @Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises", new { }, new { @class = "btn btn-info btn-xs" })
    выбрать предприятие кликнув по кнопке Детально. Появится страница с меню действий для выбранного предприятия.
    Кликните пункт меню Артикулы предприятия. <p/>

    <h3>Правила: Артикулы предприятия</h3>
    За каждым внешним нумератором вы можете закрепить несколько внутренних нумераторов, 
    т.е. создать несколько артикулов с совпадающим внешним артикулом.<p /> <p />

    <b>Вы можете создать артикул и внести любой идентификатор внешнего артикула, которого может и не быть в каталоге TecDoc.</b>
    Такой артикул будет доступен для проведения прихода, продажи и репликаций во внешнюю систему. 
    Такой артикул будет доступен для поиска
    
    @Html.ActionLink(Resources.LookForArticleRest_INDEX, "Index", "EnterpriseArticleAndRest", routeValues: new { redirectContriller = "SaleBasketArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
    <p />
    Но такой артикул НЕ будет доступен для поиска
    @Html.ActionLink(Resources.SearchTecDocByTree, "Manufact", "TecDocRests", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-info" })
    и
    @Html.ActionLink(Resources.SearchTecDocByArticle, "Index", "TecDocRests", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-info" })
    


    



<h2>Формирование каталога в автоматическом режиме</h2>
Напомним, что при развертывании программного обеспечения у вас есть возможность сформировать болванку каталога артикулов вашей торговой сети.
Перейдите по ссылке
@Html.ActionLink("Наполнение каталога артикулов вашей торговой сети", "CarShopArticleContext", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" }),
чтобы получить информацию о том, как это сделать.
Формирование болванки каталога артикулов осуществляется на на данных каталога TecDoc, поэтому внутренний внешний нумераторы совпажают.<p />

За каждым внешним нумератором вы можете закрепить несколько внутренних нумераторов, 
т.е. создать несколько артикулов с совпадающим внешним артикулом. Вы можете создать артикул и внести любой идентификатор внешнего артикула, которого может и не быть в каталоге TecDoc.
Поэтому, созданную болванку вы можете легко расширить и адаптировать для ваших нужд.<br />


