@using CarShop.Properties;
@{
    ViewBag.Title = "InternetShop";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>24. Интернет магазин</h2>
}

<h2>Задача</h2>
Вы только начинаете работу с интернет магазином и вам необходима памятка о том, что и в каком порядке выполнять.<p />
Введем понятие <b>владелец сайта.</b> Дело в том, что некоторые регламентные работы нет нужды выполнять, всем магазинам, 
которые зарегистрированы на вашем сайте. В частности, нет нужды загружать остатки поставщиков каждому магазину.
Эта операция выполняется для всех зарегистрированных магазинов. 

<h2>Регламент</h2>

<h3>Скачать и установить утилиту CarShopRestToWeb.exe</h3>
@Html.ActionLink("Утилита CarShopRestToWeb.exe", "CarShopRestToWeb", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, где скачать и как развернуть утилиту CarShopRestToWeb.exe<p />

<h3>Расширение каталога TecDoc</h3>
@Html.ActionLink("19. Утилита CarShopRestToWeb.exe (1)", "CarShopRestToWeb", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, что такое расширение каталога TecDoc артикулами, имеющими TecDoc-аналоги, и как этим манипулировать.
Заметим, что данная картотека может формироваться автоматически при загрузке остатков поставщиков и остатков вашего магазина.<p />
@Html.ActionLink("22. Утилита CarShopRestToWeb.exe (4)", "CarShopRestToWeb", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, что такое расширение каталога TecDoc артикулами, не имеющими TecDoc-аналогов, и как этим манипулировать.
Заметим, что данная картотека может формироваться автоматически при загрузке остатков поставщиков и остатков вашего магазина.<p />



<h3>Загрузка остатков и цен вашего магизина в стол заказов</h3>
@Html.ActionLink("Шаги и требования", "ToExternals", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Если вы пользуетесь своей учетной системой и вас интересует только интернет магазин, 
то перейдите по ссылке, чтобы прочесть о том, какие требования выдвигаются к функционалу вашей учетной системы<p />

@Html.ActionLink("20. Утилита CarShopRestToWeb.exe (2)", "CarShopRestToWeb2", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Если вы пользуетесь своей учетной системой и вас интересует только интернет магазин, 
то перейдите по ссылке, чтобы прочесть о том, как загрузить остатки и цены вашего магазина на сайт<p />

<h3>Загрузка остатков и цен поставщиков в стол заказов</h3>
@Html.ActionLink("21. Утилита CarShopRestToWeb.exe (3)", "CarShopRestToWeb2", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Если вы владелец сайта, то вам необходимо заливать актуальные остатки и цены поставщиков в картотеку вашего сайта.
Перейдите по ссылке, чтобы прочесть о том, как загрузить остатки и цены поставщиков на сайт<p />

<h3>Подключение к вашему интернет магазину остатков и цен поставщиков</h3>
@Html.ActionLink("17. Остатки поставщиков", "SupplierRests", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как прикрепить остатки поставщиков к вашему интернет магазину.

<h3>Изменение обменных курсов по ценам поставщиков</h3>
@Html.ActionLink("17. Остатки поставщиков", "SupplierRests", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как обновлять обменные курсы для поставщиков.
Заметим, что если курс обмена у какого-либо поставщика отличается от того, который вы внесли для интернет магазина,
то после пакетной разности курсов перейдите к интересующему поставщику и измените курс отдельно.<p />

<h3>Репликации заказов</h3>
Для того чтобы обработать заказы, необходимо предварительно получить копию этих заказов с ресурса посетителей в ресурс вашего магазина.
Такая архитектура связана с тем, что посетитель может редактировать свои заказы после того как он их оформил.
Чтобы одно не мешало другому эти ресурсы разнесены.<p />
@Html.ActionLink("11. Репликации заказов", "DoMakeOrdersReply", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как выполнить репликацию заказов на ваш магазин.

<h3>Обработка заказов</h3>
 @Html.ActionLink("12. Обработка заказов", "BranchOrderSearch", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как обработать заказы на ваш интернет магазин.<p />
Для того чтобы заказ получил статус "Обработан", необходимо сформировать корзину продаж. 
В свою очередь, чтобы корзину сформировать можно только при открытой смене.<p />
@Html.ActionLink("5. Управление сменой", "BranchSpell", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как управлять сменой вашего интернет магазина.<p />
Чтобы в рамках рабочей смены не возникали ошибки обработки вам необходимо при блокированной или закрытой смене рассадить
пользователей по рабочим местам.<p />
@Html.ActionLink("6. Размещение исполнителей по рабочим местам", "User2WorkPlace", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как управлять размещением исполнителей по рабочим местам. 
В этой же статье приводится информация о том, как создать рабочее место, если вы их еще не создали в вашем интернет-магазине.<p />
<b>Замечание:</b> Корзина формируется в сатусе "Не оплачена". Вы не сможете провести оплату, если вы закроете смену. 
Поэтому, перед закрытием смены проведите оплату тех козин, по которым вы получили деньги.

<h3>Оригинальные каталоги</h3>
Вы можете расширить услуги своего сайта поиском в оригинальных каталогах. 
Посетитель вашего сайта по ссылке может перейти на сайт с оригинальным каталогом и выбрать конструкционный номер.
При выборе номера детали сайт оригинального каталога возвращает посетителя на страницу вашего сайта и страница вашего сайта
показывает наличие и цены по конструкционному номеру. Чтобы добавить такую услугу, необходимо заключать договор и платить 
владельцу сайта оригинальных каталогов.<p />
@Html.ActionLink("16. Оригинальные каталоги", "OriginalCatalogs", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по ссылке, чтобы прочесть о том, как добавить услугу поиска в оригинальном каталоге.

