@using CarShop.Properties;

@{
    ViewBag.Title = "SaleBasket";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>8. Проведение продаж</h2>
}

<h2>РОЛЬ: Продавец подразделения</h2>
Право на внесение изменений присвоено роли  продавец подразделения. <p />

<h3>Регламент</h3>
Проведение продажи выполняется в три шага:
<ul>
    <li>создать корзину</li>
    <li>наполнить корзину товаром</li>
    <li>провести оплату</li>
    <li>если после оплаты покупатель отказался от покупки - сторнировать оплату</li>
</ul>

<h3>Управлени корзинами</h3>
Переход на страницу
@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
даст возможность управлять вашими продажами(корзинами) созданными в течение смены. В данном решении реализован <span style="font-weight:bold">функционал отложенного платежа.</span>
Предположим пришел покупатель и вы начали формировать корзину товаров. Вдруг он сказал, что вернется к вам через 10 мин.
Чтобы начать обслуживать следующего покупателя нет нужды удалять текущую корзину, но достаточно снять флаг активности для текущей корзины.
Когда через 10 мин вернется первый покупатель. Установить на его корзине флаг активности.
Операция наполнения товаром производится только для активной корзины. <b>
Если активной корзины нет или активная корзина уже оплачена,
при выборе товара автоматически будет создана новая корзина с включенным флагом активности.
</b> На страничке управления вашими продажами(корзинами)
дается детальная инструкция как переключать активность неоплаченных корзин.


<h3>Наполнение корзины</h3>
осуществляется поиском товара одним из трех способов:<p />
<ul>
    <li>
        @Html.ActionLink(Resources.LookForArticleRest_INDEX, "Index", "EnterpriseArticleAndRest", routeValues: new { redirectContriller = "SaleBasketArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
    Выбор товара в каталоге остатков вашего подразделения. Поиск товара проводится по внутренним(внешним) идентификаторам и по наименованию.<p />
</li>
<li>
    @Html.ActionLink(Resources.SearchTecDocByArticle, "Index", "TecDocRests", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
            Выбор товара в каталоге TecDoc. Поиск товара проводится по внутренним(внешним) идентификаторам и по наименованию.<p />
</li>
<li>
    @Html.ActionLink(Resources.SearchTecDocByTree, "Manufact", "TecDocRests", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
            Выбор товара в каталоге TecDoc через дерево.
</li>
</ul><p />

Отпозиционируйтесь на найденный товар и кликните кнопку выбрать. Появится форма предлагающая задать количество товара и позволяющая изменить цену продажи,
если это Vip-клиент и необходима скидка. Кликните на кнопку "В заказ(корзину)" и товар переместится в активную неоплаченную корзину.
Если такой корзины нет, автоматически будет создана новая, на ней будет установлен флаг активности и товар будет помещен в данную корзину.
После этого вы попадете на станичку с переченем товаров активной корзины.<p />

<h3>Замечание по TecDoc</h3>
@Html.ActionLink(Resources.TecDocCountryLang, "ReSettings", "TecDocRests", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
Если вы работаете с TecDoc, переход на данную страницу дает возможность выбрать язык выборки данных из TecDoc и страну, в салоне которой был продан автомобиль вашего покупателя.
Бывает так, что модели авто для продажи в разных странах комплектуются по-разному. Если вы переходите на данную страницу впервые, то по умолчанию выбрана любая страна.

<h3>Управление товаром в корзине (удаление, изменение кол-ва и цены)</h3>
Перейдите на страницу
@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
кликниет на ссылку Подробно для интересующей вас корзины(продажи) на появившейся странице кликните на кнопку "Товары". Появится список.
Для каждого наименования представлены ссылки "Удалить", "Изменить". По ссылке изменить перейдете на страницу для изменения кол-ва или цены.
Заменить, что редактировать(удалять) товар в корзине можно только до операции оплаты.<p />

<h3 >Оплата</h3>
Перейдите на страницу
@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
кликниет на ссылку Подробно для интересующей вас корзины(продажи). На появившейся странице кликните на кнопку "Оплатить".
Заметим, что оплаченную корзину и товар в ней нельзя ни редактировать, ни удалять.<p />

<h3>Сторнирование</h3>
Перейдите на страницу
@Html.ActionLink(Resources.SaleBasketTDES_INDEX, "Index", "SaleBasket", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
кликниет на ссылку Подробно для интересующей вас корзины(продажи). На появившейся странице кликните на кнопку "Сторнирование".
Заметим, что сторнирование можно провести только для оплаченной корзины(заказа).
Кроме того, что сторнированную корзину и товар в ней нельзя ни редактировать, ни удалять.<p />


