@using CarShop.Properties;

@{
    ViewBag.Title = "SheetRevaluation";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>3. Управление ведомостями переоценки</h2>
}

<h2>РОЛЬ: Главный продавец(бухгалтер) подразделения</h2>
Товар проходит переоценку по каждому магазину торговой сети.
Поэтому право на внесение изменений присвоено роли лавный продавец(бухгалтер) подразделения. <p />

Регламент формирования переоценки по магазину включает:
1. Создание ведомости переоценки <br>
2. Наполнение ведомости артикулами товаров<br>
3. Проведение переоценки по ведомости<p />
Если необходимо откатить операцию переоценки выполняется сторнирование проведенной ведомости ведомости.


<h3>Создание ведомости переоценки</h3>
Перейдите по ссылке
@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
к списку ведомостей прихода вашего магазина.
Кликните по кнопке <b>Создать</b>
для запуска диалога создания ведомости. Откроется форма предлагающая заполнить стандартные поля шапки ведомости.
Поле Guid - это уникальный идентификатор записи.
ID поставщика и наименование поставщика можно заполнить (и рекомендуется) используя кнопку поиска.
Закончите ввод нажав кнопку Сохранить.

<h3>Наполнение ведомости переоценки</h3>
Перейдите по ссылке
@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
к списку ведомостей переоценки вашего магазина.
Используя навигацию и фильтр по датам  отпозиционируйтесь на ведомости, которую вы будете наполнять перечнем товаров.
Кликните по кнопке <b>Подробно</b>. Вам откроется страница на которой кликните пункт меню <b>Артикулы</b>.
Вы перейдете на страницу с перечнем товаров (или артикулов) по данной ведомости переоценки.<p />
Кликните ссылку "создать запись" для создания записи артикула переоценки.
    Появившаяся форма предоставляет возможность выбора артикула переоценки из списка ранее проведенных приходных ведемостей. Заметим, что при создании записи артикула переоценки помимо самого артикула присутствует
    идентификатор той приходной ведомости, для артикула которой необходимо выполнить переоценку.
    Вносим старую цену, старый остаток и новую цену. Напомним, что ведомость переоценки может быть создана <span style="font-weight:bold">автоматически</span>, как производная новой приходной ведомости.
    При этом в качестве старой цены берется текущая цена старой ведомости, в качестве остатка берется остаток по старой веломости. В качестве новой цены берется цена новой ведомости. Вы можете поэкспериментировать.
    Создать приходную ведомость на паре артикулов. Оприходовать эту ведомость. Создать новую ведомость на этих же артикулах, но с новыми ценами. Сформировать ведомость переоценки по второй приходной ведомости и посмотреть
    что получится. В конце игр удаляем новую ведомость (если вы провели оприходование новой ведомости, то сторнируем новую ведомость). Если провели переоценку, то сторнируем переоценку (если не провели, то просто удаляем).
    После этого сторнируем первую приходную ведомость. Если попытаться сторнировать первую приходную ведомость без сторнирования ведомости переоценки, то будет выдано сообщение об ошибке.

<h3>Проведение переоценки</h3>
Перейдите по ссылке
@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
к списку ведомостей переоценки вашего магазина.
Используя навигацию и фильтр по датам  отпозиционируйтесь на ведомости, которую вы будете наполнять перечнем товаров.
Кликните по кнопке <b>Подробно</b>. Вам откроется страница на которой кликните пункт меню <b>Провести переоценку</b>.
Откроется форма "Провести переоценку". На этой форме кликните кнопку "Провести переоценку". 
При этом запустится массовый процесс изменения ресурса остатков (цена) и оприходованных ведомостей артикулы которых попали
в ведемость переоценки (цена).  Если переоценка прошла успешно на ведомости включится флаг "Оприх.".<br>

<h3>Сторнирование</h3>
Перейдите по ссылке
@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
к списку ведомостей переоценки вашего магазина.
Используя навигацию и фильтр по датам  отпозиционируйтесь на ведомости, которую вы будете наполнять перечнем товаров.
Кликните по кнопке <b>Подробно</b>. Вам откроется страница на которой кликните пункт меню <b>Сторнирование</b>.

Откроется форма "Сторнирование". На этой форме кликните кнопку "Сторнирование". При этом запустится массовый процесс изменения ресурса остатков (цена) 
и оприходованных ведомостей артикулы которых попали в ведемость переоценки (цена).
Если Сторнирование прошло успешно на ведомости включится флаг "Сторн". <p />

<h3>Отчет</h3>
Перейдите по ссылке
@Html.ActionLink(Resources.SheetRevaluationTDES_INDEX, "Index", "SheetRevaluation", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
к списку ведомостей переоценки вашего магазина.
Используя навигацию и фильтр по датам  отпозиционируйтесь на ведомости, которую вы будете наполнять перечнем товаров.
Кликните по кнопке <b>Подробно</b>. Вам откроется страница на которой кликните пункт меню <b>Отчет</b>.
Откроется форма с количеством наименований и суммой по переоценке.

<h3>Замечание</h3>
<div class="alert alert-danger">
    1. Cторнирование ведомости переоценки возможно, если после проведения переоценки не было расходных операций по артикулам переоценки
    (т.е. не менялось кол-во по затронутым приходным ведомостям) и не было новых переоценок (т.е. не менялась цена по затронутым приходным ведомостям).<p />
    2. Если создано несколько ведомостей переоценки и они проведены, то сторнирование этих ведомостей должно проводиться в обратном порядке - последняя 
    проведенная ведомость переоценки сторнируется первой.<p />
    3. Проведение переоценки необходимо выполнять при закрытой смене. Это исключает изменение остатков как в каталоге прихода так и в каталоге остатков.<p />
    4. Проведение cторнирования ведомости переоценки  необходимо выполнять при закрытой смене. Это исключает изменение остатков как в каталоге прихода так и в каталоге остатков.<p />
    В данном случае под закрытой сменой мы понимаем смену, которая закрыта и по которой успешно отработал процесс списания с прихода!
</div>
