@using CarShop.Properties;

@{
    ViewBag.Title = "Стол заказов";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}


@section headerscripts {
    <h2>14. Стол заказов</h2>
}

<h2>РОЛЬ: Администратор подразделения</h2>
Право на внесение изменений присвоено роли Администратор подразделения. <p />
Стол заказов предоставляет следующие возможности <br/>
<h4>Первое:</h4> 
Магазин опубликует свои товары (количество и цены), которые есть в наличии или под заказ. <br />
<h4>Второе:</h4>
Покупатель может просматривать цены на товары, которые есть как в наличии в магазине так и на товары, которые магазин может выписать у своих поставщиков для покупателя.<br />
<h4>Третье:</h4>
Покупатель может сформировать заявку на товары магазина, которые есть как в наличии так и под заказ.<br />
<h4>Четвертое:</h4>
Магазин может видеть заявки покупателей и обработать эти заявки.

<h3>Регламент</h3>
<h4>Регистрация магазина, как участника стола заказов.</h4>
@Html.ActionLink(Resources.GuestBranchTDES_INDEX, "Index", "GuestBranch", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке чтобы убедиться, что ваш магазин зарегистрирован, как участник стола заказов.
Данная страница дает возможность не только просматривать, но создавать и редактировать атрибуты участника стола заказов.

<h4>Регистрация поставщиков товаров.</h4>
@Html.ActionLink(Resources.EnterpriseSupplier_INDEX, "Index", "BranchSupp", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Если вы планируете торговать не только товаром, который есть в наличи, но и товаром под заказ (т.е. товаром, который магазин может выписать у своих поставщиков для покупателя.),
то перейдите по указанной ссылке, чтобы просмотреть и отредактировать перечень поставщиков, через которых вы торгуете товаром под заказ (не путать с товаром который есть в наличии в магазине). 
При внесении очередного поставщика вы должны указать валюту в которой приводятся цены у этого поставщика. 
Курс обмена этой валюты. И коэффициент уценки(если меньше 1) или наценки(если больше 1), который используется в договоре между вашим магазином и поставщиком.
Курс обиена и коэффициент уценки(наценки) определяют цену на товар под заказ, которую видит покупатель.

<h4>Поддержка курсов валют в актуальном состоянии.</h4>
@Html.ActionLink(Resources.EnterpriseBranchRateTDES_INDEX, "Index", "EnterpriseBranchRate", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке, чтобы просмотреть и отредактировать курсы валют по отношению к вашей национальной валюте. 

<h4>Разноска курсов валют по поставщикам.</h4>
@Html.ActionLink(Resources.DISTRIBUTE_RATES, "DistribureRates", "EnterpriseBranchRate", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Напомним, что при регистрации поставщиков вы вносите валюту цен товаров поставщика и обменный курс. 
Если курс меняется, то для каждого поставщика необходимо внести новый курс. Все это неудобно и требует времени. 
Для выполнения этой работы перейдите по указанной ссылке, чтобы курсы валют разнести по записям поставщиков. 

<h4>Репликация цен магазина на товары в наличии</h4>
@Html.ActionLink(Resources.MakeBranchReply, "DoMakeReply", "EnterpriseBranches", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
В результате проведения продаж и обработки новых поступлений товара остатка и цены по магазину будет изменяться.
Если магазин публикует свои остатки и цены в интернет требуется периодически выполнять репликацию остатков и цен с площадки магазина
на удаленный сервер интернет. Перейдите по указанной ссылке, чтобы выполнить операцию репликации остатков.

<h4>Репликация остатков и цен на товары под заказ</h4>
Чтобы переслать остатки и цены поставщиков необходимо воспользоваться утилитов CarShopRestToWeb.exe. 
После запуска утилиты подключитесь к локальному хранилищу (пункт меню Сервис/Открыть БД соответствия). 
Откройте окно "Поставщики и цены" (пункт меню Сервис/Кртотека цен поставщиков) и кликните кнопку "Обновить". 
Используя кнопки "Изм.", "Доб", "Удл." можно  менять перечень поставщиков.
Станьте на интересующего поставщика и кликните кнопку "Показать артикулы". Появивится окно "Артикулы и цены поставщика".
Каждый постащик предоставляет свои остатки или в формате EXCEL ил в формате CSV. 
Импортируйте остатки поставщика в локальное хранилище (кнопка ИМПОРТ). После этого реплицируйте остатки на ваш web-сервер (кнопка Переслать)

<h4>Репликации заказов покупателей</h4>
@Html.ActionLink(Resources.MakeOrderReply, "DoMakeOrdersReply", "EnterpriseBranches", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Чтобы заказы сформированные через интернет стали видны на площадке магазина необходимо выполнить операцию репликации заказзов. 
После этой операции покупатель в столе заказов видит пометку о том, что его заказ ушел в обработку.


<h4>Обработка заказов</h4>
@Html.ActionLink(Resources.BranchOrderTDES_INDEX, "Index", "BranchOrderSearch", routeValues: new { }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Обработка сформированных заказов. Обработка включает навигацию по списку заказов за период с функцией создания продажи(корзины) для проплаты и перевода статуса заказа
в состояние "обработан". В перечень сформированных заказов входят заказы сформированные на площадке самого магазина (по телефону, к примеру) и заказы сформированные
покупателями через интернет.

<h5>Замечание</h5>
<div class="alert alert-danger">
    Заказ перейдет в статус обработан, лишь в том случае, когда будет запущена функция <b>Сформировать корзину продаж</b>.
    Важно помнить, что сформированная корзина требует дополнительного регламента -- оплаты.
    Как правило проводить оплату следует лишь после того как курьер привез деньги за товар.<p />
    Мы рекомендуем завести дополнительного исполнителя с ролью <b>продавец</b>. Входить этим пользователем в систему для выполнения обработки заказов.
    Для проведения оплаты разумно оставлять смену открытой до утра и утром по факту проводить оплату лишь тех корзин, за которые магазин получил деньги.
</div>