@using CarShop.Properties;
@model IEnumerable<TecDocEcoSystemDbClassLibrary.GuestOrderArticleTDES>

@{
    ViewBag.Title = Resources.GuestOrderArticleTDES_INDEX;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
    String SearchGestUserNic = ViewBag.SearchGestUserNic;
    Guid? SearchGuestOrderGuid = ViewBag.SearchGuestOrderGuid;
    bool CanBeModified = ViewBag.CanBeModified;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Создание заказов по телефону", "BranchGuestProfile", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>

<h2>@Resources.GuestOrderArticleTDES_INDEX</h2>


<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
    @if (SearchEntGuid.HasValue)
        {
        <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
        <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                if (!string.IsNullOrEmpty(SearchGestUserNic)) {
                    <li>@Html.ActionLink(Resources.BranchGuestProfileTDES_INDEX, "Index", "BranchGuestProfile", new {searchEntGuid=SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchString = SearchGestUserNic, searchStringBy = "1"}, new { })</li>   
                    <li>@Html.ActionLink(SearchGestUserNic, "Details", "BranchGuestProfile", new {searchEntGuid=SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGestUserNic = SearchGestUserNic}, new { })</li>   
                    <li>@Html.ActionLink(Resources.BranchOrderTDES_INDEX, "Index", "BranchOrder", new {searchEntGuid=SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGestUserNic = SearchGestUserNic}, new { })</li>   
                    if (SearchGuestOrderGuid.HasValue) {
                    <li>@Html.ActionLink(Resources.DETAILS_ACTION, "Details", "BranchOrder", new {searchEntGuid=SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGestUserNic = SearchGestUserNic, searchGuestOrderGuid = SearchGuestOrderGuid}, new { })</li>   
                    }
                }
            }
        }
</ol>


@if (!SearchGuestOrderGuid.HasValue) {
    @Html.ValidationSummary(true)
}
else
{

    <p class="btn-group">
        @Html.ActionLink(Resources.LookForArticleRest_INDEX, "Index", "EnterpriseArticleAndRest", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink(Resources.SearchTecDocByArticle, "Index", "TecDocRests", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink(Resources.SearchTecDocByTree, "Manufact", "TecDocRests", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        <input type="button" class="btn btn-info" onclick="$('tr.warning').each(function () { if ($(this).is(':hidden')) $(this).show(); else $(this).hide(); })" value="@Resources.ShowHideBtn" />
    </p>


<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ART_ARTICLE_NR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUP_TEXT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtPrice)
        </th>


        <th class="hidden-xs hidden-sm"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ART_ARTICLE_NR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUP_TEXT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtPrice)
        </td>


        <td class="hidden-xs hidden-sm btn-group btn-group-xs">
            @if (CanBeModified)
            {
                @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGestUserNic = SearchGestUserNic, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-primary" })
            }
            @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-info" })
            @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
    
    <tr class="warning">
        <td colspan="4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ExternArticleEAN)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ExternArticleEAN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntArticleDescription)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.EntArticleDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntBranchArticle)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.EntBranchArticle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntBranchSup)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.EntBranchSup)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastReplicated)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.LastReplicated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsReplicated)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.IsReplicated)
                </dd>

            </dl>
        </td>
    </tr>
    
    <tr class="visible-xs visible-sm active">
        <td colspan="2" class="btn-group btn-group-xs">
            @if (CanBeModified)
            {
                @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGestUserNic = SearchGestUserNic, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-primary" })
            }
            @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-info" })
            @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid, searchGuestOrderGuid = item.GuestOrderGuid, searchEntBranchArticle = item.EntBranchArticle, searchEntBranchSup = item.EntBranchSup }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
    
    
}

</table>


    <p class="btn-group">
        @Html.ActionLink(Resources.LookForArticleRest_INDEX, "Index", "EnterpriseArticleAndRest", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink(Resources.SearchTecDocByArticle, "Index", "TecDocRests", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink(Resources.SearchTecDocByTree, "Manufact", "TecDocRests", routeValues: new { redirecData = SearchGestUserNic, redirectContriller = "BranchOrderArticle", redirectAction = "GetArticuleRestForCreate" }, htmlAttributes: new { @class = "btn btn-info" })
        <input type="button" class="btn btn-info" onclick="$('tr.warning').each(function () { if ($(this).is(':hidden')) $(this).show(); else $(this).hide(); })" value="@Resources.ShowHideBtn" />
    </p>


}    