@{
    ViewBag.Title = "О решении";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Вы автолюбитель</div>
            <div class="panel-body">
                На данном сайте продавцы публикуют информацию о наличии и ценах на автозапчасти для всех марок автомобилей.
                Вы можете выполнить поиск интересующей вас детали и выбрать магазин вашего города с оптимальной для вас ценой.
                Если магазин оказывает услуги по доставке товара на дом, вы можете оформить заказ на один или несколько магазинов.
                <p />
                @Html.ActionLink("На домашнюю", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
                Перейдите на эту страничку, чтобы начать поиск деталей для вашего авто. Если вы нашли все что искали, вы можете зарегистрироваться и создать заказы на один или несколько магазинов.
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Вы продавец или владелец бизнеса</div>
            <div class="panel-body">
                <h3>Нужна учетная система бесплатно</h3>
                Если вы подыскиваете учетную систему для ведения бизнеса по продаже автозапчастей, то вы выбрали правильный сайт.<p />
                Данное решение абсолютно БЕСПЛАТНО, построено на основе новейших технологий, не требует инвестиций на закупку лицензий.

                <p>@Html.ActionLink("Читать далее", "ToBusinessMan", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })</p>

                <p />

                <h3>Нужен интернет-магазин бесплатно</h3>
                У вас есть учетная система, но появилось ощущение, что добавив канал продаж через интернет, вы увеличите прибыль.
                <b>БЕСПЛАТНО</b>, с минимальными усилиями вы можете публиковать остатки и цены вашего магазина,
                которые будут видны покупателю как товары <b>"в наличии"</b>.
                Вы можете подключить остатки и цены оптовых поставщиков (таких как ШАТЭ-М, АВТОСПЭЙС и т.д.) указав свою наценку,
                которые будут видны покупателю как товары вашего магазина <b>"под заказ"</b>.
                <p>@Html.ActionLink("Читать далее", "ToExternals", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })</p>
                <p />


                <h3>Развертывание</h3>
                <p>Описание шагов развертывания с указанием ресурсов для загрузки компонент решения, вариантов конфигурирования и требований к вычислительной технике</p>
                <p>@Html.ActionLink("Читать далее", "Index", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })</p>
                <p />

                <h3>Наша бизнес-стратегия</h3>
                Куда уйдут ваши деньги и ваше время, если вы займетесь интернет комерцией или почему мы предлагаем наше решение бесплатно.
                <p>@Html.ActionLink("Читать далее", "WhyItsFree", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })</p>

            </div>
        </div>
    </div>
</div>