@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.EnterpriseBranchReplyTDES

@{
    ViewBag.Title = Resources.CREATENEW_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
    SelectList ReplyTypes = ViewBag.sliReplyTypes as SelectList;
}

<h2>@Resources.CREATENEW_ACTION</h2>

@if (!SearchEntBranchGuid.HasValue)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
    {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

        if (SearchEntBranchGuid.HasValue)
        {
            <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseBranchReplyTDES_INDEX, "Index", "EnterpriseBranchReply", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
        }
    }
    </ol>

    @Html.ValidationSummary(true)
}
else {
    @Html.ValidationSummary(true)

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>EnterpriseBranchReplyTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
            {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

                if (SearchEntBranchGuid.HasValue)
                {
                    <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                    <li>@Html.ActionLink(Resources.EnterpriseBranchReplyTDES_INDEX, "Index", "EnterpriseBranchReply", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
                }
            }
        </ol>

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EntBranchGuid)

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReplyType, ReplyTypes, String.Empty)
                @Html.ValidationMessageFor(model => model.ReplyType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaseHttpAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaseHttpAddress)
                @Html.ValidationMessageFor(model => model.BaseHttpAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpLoginUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpLoginUrl)
                @Html.ValidationMessageFor(model => model.HttpLoginUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpGetUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpGetUrl)
                @Html.ValidationMessageFor(model => model.HttpGetUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpPostUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpPostUrl)
                @Html.ValidationMessageFor(model => model.HttpPostUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpPutUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpPutUrl)
                @Html.ValidationMessageFor(model => model.HttpPutUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpDeleteUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpDeleteUrl)
                @Html.ValidationMessageFor(model => model.HttpDeleteUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpUser)
                @Html.ValidationMessageFor(model => model.HttpUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HttpPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HttpPassword)
                @Html.ValidationMessageFor(model => model.HttpPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.CREATE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { }) 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
}