@using PagedList.Mvc;
@using CarShop.Properties;

@model PagedList.IPagedList<TecDocEcoSystemDbClassLibrary.IncomePayRollTDES>

@{
    ViewBag.Title = Resources.IncomePayRollTDES_INDEX;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Приход на магазин", "Income", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.IncomePayRollTDES_INDEX</h2>

<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
    @if (SearchEntGuid.HasValue)
    {
        <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
        <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

        if (SearchEntBranchGuid.HasValue)
        {
            <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
        }
    }
</ol>




@if (  !SearchEntBranchGuid.HasValue )
{
    @Html.ValidationSummary(true)
} else { 
    if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
    {
        <p>
            @Html.ActionLink(Resources.CREATENEW_ACTION, "Create", "IncomePayRoll", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-primary" })
        </p>
    }

using (Html.BeginForm("Index", "IncomePayRoll", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <h3>@Resources.FILTER_TITLE</h3>
    @Html.Hidden("searchEntGuid", SearchEntGuid)
    @Html.Hidden("searchEntBranchGuid", SearchEntBranchGuid)

    <div class="form-group">
    @Resources.BranchSpellHstTDES_OpenAtLessThan
    </div>
    <div class="form-group">
    @Html.TextBox("searchString", ViewBag.CurrentFilter as string,  new { @class="form-control" })
    </div>
    <div class="form-group">
    @Resources.BranchSpellHstTDES_OpenAtLargeThan
    </div>
    <div class="form-group">
    @Html.TextBox("searchString1", ViewBag.CurrentFilter1 as string,  new { @class="form-control" })
    </div>
    <input type="submit" value="@Resources.SEARCH_ACTION" class="btn btn-info" />
}



var dummy = Model.FirstOrDefault();

    <input type="button" class="btn btn-info" onclick="$('tr.warning').each(function () { if ($(this).is(':hidden')) $(this).show(); else $(this).hide(); })" value="@Resources.ShowHideBtn" />

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.IsReversed)
        </th>



        <th class="hidden-xs hidden-sm"></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReversed)
            </td>

            <td class="hidden-xs hidden-sm btn-group btn-group-xs">
                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
                {
                    @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-primary" })
                }

                @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-info" })

                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
                {
                    @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
        
        <tr class="warning">
            <td colspan="3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => dummy.IncomePayRollTDESGuid)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.IncomePayRollTDESGuid)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => dummy.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => dummy.EntSupplierId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.EntSupplierId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => dummy.EntSupplierDescription)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.EntSupplierDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => dummy.EntUserNic)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => item.EntUserNic)
                    </dd>
                </dl>
            </td>
        </tr>
        
        <tr class="visible-xs visible-sm active">
            <td colspan="2" class="btn-group btn-group-xs">
                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
                {
                    @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-primary" })
                }

                @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-info" })

                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
                {
                    @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.IncomePayRollTDESGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
        
}

</table>

@Html.PagedListPager( Model, page => Url.Action("Index", new { searchEntGuid=SearchEntGuid, searchEntBranchGuid=SearchEntBranchGuid, currentFilter=ViewBag.CurrentFilter, currentFilter1=ViewBag.CurrentFilter1, page=page  }), PagedListRenderOptions.OnlyShowFivePagesAtATime  )
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.PAGE_OF  @Model.PageCount
    
    
}        