@using CarShop.Helpers;
@{
    ViewBag.Title = "CarShopRestToWeb";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
    <h2>19. Утилита CarShopRestToWeb.exe</h2>
}

Утилита CarShopRestToWeb.exe позволяет решить три задачи:<p/>
<ul>
    <li>
        1. импортировать в стол заказов нашего решения остатки магазина из другой учетной системы.
    </li>
    <li>
        2. импортировать в стол заказов остатки оптовых поставщиков. 
        Таким образом остатки оптовых поставщиков становятся доступны конечному покупателю, 
        как остатки вашего магазина с вашей собственной наценкой.
    </li>
    <li>
        3. расширять tecdoc в формате mssql новыми артикулами, которые отсутствуют в официальной поставке каталога.
        Как показывает практика, имеется огромное количество автозапчастей, которые отсутствуют в TecDoc. 
        Тем не менее, ведется бойкая торговля этим перечнем товаров. 
        Связано это с тем, что не все производители зарегистрировали линейку своих изделий в TecDoc.
        Заметим, что товарные позиции, которых нет в TecDoc можно разбить на две категирии:<br>
        3.1. Товарные позиции, для которых есть аналоги в TecDoc <br>
        3.2. Товарные позиции, для которых нет аналогов в TecDoc (это клей, домкраты и т.п.)<br>
        Утилита CarShopRestToWeb.exe расширяет каталог TecDoc товарными позициями как с аналогами так и без них.
    </li>
</ul>

<div class="alert alert-info">
    У вас может сложиться впечатление, что потребуется установка TecDoc на вашем компьютере.<p />
    <b>Если вы не хотите это делать (устанавливать TecDoc)</b>, то есть режим работы импорта ваших данных, который <b>не требует наличия TecDoc</b>
    и TecDoc-подобных ресурсов (речь идет о TecDoc в формате MSSQL).
</div>
<div class="alert alert-warning">
    В данной статье приводится информация, о том как развернуть 
    данную утилиту на вашем компьютере в вашей локальной сети. <p/>
    @Html.ActionLink("Задачи и роли", "Index", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    Перейдите по указанной ссылке чтобы получить инструкции по ипользованию данной утилиты.
</div>

<p />
Прежде, чем перейти к вопросам развертывания мы опишем механизм импорта:
Задачи импорта решаются в два шага: на вход утилите CarShopRestToWeb.exe подается EXCEL или CSV файл. Данный фал обрабатывается
построчно и формируется картотека успешно-обработанных карточек и журнал ошибок. 
Картотека успешно обработанных карточек может быть залита в стол заказов через web-сервисы, реализованные в данном решении.<p />
Сделаем замечание об успешно обработанных карточках. Карточка принимается, как успешно обработанная, 
в том случае, если по артикулу и брэнду она найдена в TecDoc или в картотеке расширения TecDoc. Если найти не удалось,
то карточка рассматривается, как необработанная. Такой строгий фильтр установлен в силу специфики предметной области.
Если вы просто зальете, артикул, брэнд детали в картотеку, то нет уверенности, что конечный покупатель и даже ваш продавец
найдут эту деталь. Помимо, артикула, брэнда необходима информация о том, на каких автомобилях применяется эта деталь,
какие аналоги у этой детали, каким конструкционным номерам она (деталь) соответствует. Только в этом случае есть шанс,
что покупатель на нее выйдет, либо через конструкционные номера, либо через аналоги, либо через перечень применяемых деталей, 
на том авто на котором он катается. Все остальное работать не будет.
<p />
Утилита CarShopRestToWeb.exe имеет ЧЕТЫРЕ своих собстенных картотеки (по картотеке на каждую задачу): <br>

<ul>
    <li>
        1. Картотека остатков поставщиков.
    </li>
    <li>
        2. Картотека остатков магазинов.
    </li>
    <li>
        3. Картотека артикулов, которых нет в TecDoc, но есть аналоги в TecDoc.
    </li>
    <li>
        4. Картотека артикулов, которых нет в TecDoc, и нет аналогов в TecDoc.
    </li>
</ul>

Основная причина ведения таких картотек -- попытка опитимизировать процесс импорта/экспорта данных.<p />
Опитимизация по экпорту данных: нет нужды перевыгружать карточку в стол заказов, если с последней выгрузки по этой карточке ни цена, ни количество
не изменились.<p />
Опитимизация по импорту: нет нужды повторно искать в TecDoc артикул, если это уже было сделано днем или неделей раньше. 
Дело в том что, поиск в TecDoc очень медленная операция. Это становится заметным, когда начинается обработка больших массивов информации.
К примеру, при импорте остатков и цен некоторых оптовых поставщиков количество артикулов доходит до семисот тысяч. 
Выполнять загрузку остаков придется каждый день. Поиск же в своей внутренней картотеке выполняется в десятки раз быстрее.<p />




Итак, мы заговорили о внутренней картотеке. Внутренняя картотека реализована на на базе MySQL. Это бесплатное решение. 
Чтобы не возникало трудностей мы даем возможность скачать инсталяцию MySQL непосредственно с нашего сайта.<p />
@Html.ActionLink("Инсталяция MySQL", "MySqlZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Кликните по указанной ссылке чтобы получить архив с инсталяцией MySQL-сервера и MySQL-админтистратора. <p />
Архив содержит два файла
mysql-essential-5.0.67-win32 -- это первое, что вы должны запустить на развертывание (MySQL-сервер)<p />
mysql-gui-tools-5.0-r17-win32 -- это второе, что вы должны запустить на развертывание (MySQL-администратор)<p />
При развертывании mysql-essential-5.0.67-win32 инсталятор спросит, хотите ли вы начать конфигурирование. Согласитесь.
При конфигурировании не забудьте включить флаг о доступности сервера с удаленного компьютера. 
При выборе типа баз данных укажите OLTP и при выборе языков укажите MultiLanguages. Введите пароль root пользователя и запомните его.
Он вам понядобится при эксплуатации CarShopRestToWeb.exe.<p />

Создайте папку на том компьютере, где вы будете запускать утилиту. <p />
@Html.ActionLink("Утилита CarShopRestToWeb", "CarShopRestToWebZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Кликните по указанной ссылке чтобы получить архив CarShopRestToWeb.Exe.  Распакуйте архив в созданную папку.
Запустите утилиту CarShopRestToWeb.Exe и воспользуйтесь пунктом меню "Развертывание/Создать БД соответствия". 
В появившемся блоке диалога введите имя компьютера или IP-адрес, где развернут MySql. 
В поле "пароль" введите паоль доступа к серверу MySql. Если MySql на том же компьютере, что и утилита, то в качестве IP-адреса
используйте 127.0.0.1 или Localhost в качестве имени<p />

Для того чтобы импорт файлов в формате EXCEL проводился без ошибок на компьютер, где развернута CarShopRestToWeb.Exe необходимо установить
патч по следующей ссылке<p />
@Html.ExternalLink("http://www.microsoft.com/en-us/download/details.aspx?id=13255", "http://www.microsoft.com/en-us/download/details.aspx?id=13255", new { target = "_blank" }, new { })<br />

<p />
Если вы планируете использовать утилиту совместно с TecDoc (Напомним, при импорте EXCEL и CSV файлов утилита может обращается к картотеке TecDoc.) 
Поэтому на компьютере, где развернута утилита CarShopRestToWeb.Exe необходимо установить ODBC источник для TecDoc.<p />
@Html.ActionLink("5. Конфигурирование ODBC TecDoc", "ODBCTecDoc", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке, чтобы получить инструкции, как это сделать.
<p />

<div class="alert alert-warning">
    <b>Замечание:</b><br>
    Первичный импорт остатков поставщиков выполняется очень медленно, т.к. для каждой товарной позиции делается проверка, что она присутствует в TecDoc.
    Если не найдена, то выполняется поиск в интернет аналогов. Если аналог найден, то выполняется проверка аналога на наличие в TecDoc.
    Чтобы ускорить процесс обработки, помимо утилиты скачайте архив с MySQL-базой данных. В ней находятся данные по остатка многих поставщиков РБ
    и уже сформированы картотека артикулов, имеющих TecDoc-аналоги (более 220 тысяч) и картотека артикулов, не имеющих TecDoc-аналоги (более 200 тысяч).
    Было обработано более <b>миллиона</b> товарных позиций от более чем 5-ти оптовых поставщиков. Все это сильно облегчит вашу нелегкую жизнь.<br />
    <div class="alert alert-info">
        И второе: если вы планируете использовать режим утилиты без TecDoc, то вам <b>обязательно</b> потребуется архив базы данных с уже наполненными картотеками утилиты.
    </div>
        @Html.ActionLink("MySQL БД carshopmapping", "MySqlZipDB", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
        Кликните по указанной ссылке чтобы получить архив с инсталяцией архива базы данных. <p />
        Чтобы подключить данную БД <p />
        1. Извлеките из архива файл<br />
        2. Запустите <b>MySQL Administrator</b> и подключитесь к MySQL серверу. <br />
        3. В левом пенале станьте на узел <b>Restore</b>. Кликните кнопку <b>"Open backup file"</b> и укажите файл шага (1).<br />
        4. Кликните кнопку <b>Start restore</b>.
    
</div>