@using CarShop.Helpers;

@{
    ViewBag.Title = "Загрузки";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
    <h2>20 Загрузки</h2>
}

На данной странице приводятся ссылки по загрузке из интернет ресурсов, которые понадобятся 
вам при развертывании или полного решения (учетная система) или модулей для взаимодействия с интернет магазином.


<h2>1. Загрузки исключительно для интернет-магазина</h2>
Если вы планируете воспользоваться функциональностью интернет магазина вам необходимо скачать
Сервем MySQL, Базу данных MySQL, .Net 4.0, Утилиту CarShopRestToWeb.exe, патч от Microsoft для работы с Excel и CSV файлами, установить
.Net4.0. Конечно же у вас должен быть развернут TecDoc и настроен Transbase-ODBC-драйвер.


<h3>1.1. Сервер MySQL</h3>
@Html.ActionLink("MySQL", "MySqlZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
Загрузите и установите сервер MySQL для работы утилиты CarShopRestToWeb.exe. В архиве размещены два инсталятора:
один - это сервер MySQL (<b>mysql-essential-5.0.67-win32</b>) 
и второй это администратор сервера MySQL (<b>mysql-gui-tools-5.0-r17-win32</b>).

<h3>1.2. База данных MySQL</h3>
@Html.ActionLink("База MySql", "MySqlZipDB", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
Загрузите архив файла базы данных и используя <b>Администратор MySQL</b> подключите ее к серверу MySQL. 
Как алтернативный вариант, используя утилиту CarShopRestToWeb.exe вы можете создать пустую базу данных на сервере MySQL.<br/>
Тем не менее мы рекомендуем использовать загружаемую по ссылке выше. БД, которую вы можете загрухить по ссылке выше
уже содержит двести тысяч пар (артикул, аналог), по тем артикулам, которых нет в TecDoc, 
но которыми торгуют ведущие оптовые поставщики РБ.<br />
Помимо этого БД содержит более миллиона обработанных артикулов от ведущих поставщиков РБ. Дело в том, что при загрузке остатков
и цен поставщиков выполняется проверка на наличие описания артикула в каталоге TecDoc. 
Это очень медленный процесс -- первоначальное накопление данных по артикулам поставщиков.
Проверка на наличие артикула в TecDoc не выполняется, если этот артикул был ранее обработан. 
Вот причина по которой мы рекомендуем загрузить БД MySql с нашего сайта.


<h3>1.3. Утилита CarShopRestToWeb.exe</h3>
@Html.ActionLink("CarShopRestToWeb.exe", "CarShopRestToWebZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
Загрузите архив, создайте на локальном диске папку и распакуйте архив для утилиты CarShopRestToWeb.exe. 
Напомним, что CarShopRestToWeb.exe требует установки .Net4.0 на вашем компьютере.

<h3>1.4. Патч для работы с Excel и CSV файлами</h3>
@Html.ExternalLink("http://www.microsoft.com/en-us/download/details.aspx?id=13255", "http://www.microsoft.com/en-us/download/details.aspx?id=13255", new { target = "_blank" }, new { })<p />
Для того чтобы импорт файлов в формате EXCEL проводился без ошибок на компьютер, где развернута CarShopRestToWeb.Exe необходимо установить
патч по следующей ссылке. Ecnfyjdbnt 32-битовую версию патча, не взирая на то, что у вас 64-битовая операционная система.
Устанавливать патч нет необходимости, если на компьютере уже развернут MS-office.<p />

<h3>1.5.   .Net4.0</h3>
@Html.ActionLink("1. Развертывание MSSQL Express 2012", "HowToMSSQL", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
Перейдите по указанной сслке, чтобы получить инструкции по развертыванию .Net4.0

<h3>1.6.   TecDoc и ODBC-Драйвер</h3>
<div class="alert alert-info">
    У вас может сложиться впечатление, что потребуется установка TecDoc на вашем компьютере.<p />
    <b>Если вы не хотите это делать (устанавливать TecDoc)</b>, то есть режим работы импорта ваших данных, который <b>не требует наличия TecDoc</b>
    и TecDoc-подобных ресурсов (речь идет о TecDoc в формате MSSQL).
</div>
@Html.ActionLink("5. Конфигурирование ODBC TecDoc", "ODBCTecDoc", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
Если вы планируете использовать TecDoc, то перейдите по указанной сслке, чтобы получить инструкции по настройке ODBC драйвера.<p />
<div class="alert alert-warning">
    <b>Замечание:</b> В качестве источника TecDoc-данных можно использовать данные в MSSQL формате.
    Для этого вым придется развернуть MSSQL Express 2012, скачать соответствующую БД и развернуть ее на сервере MSSQL.
</div>



    <h2>2. Загрузки для учетной системы</h2>
    Для того, чтобы использовать решение как учетную систему вам придется прочесть все шаги раздела<p />
    @Html.ActionLink("Шаги и очередность развертывания решения", "Index", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
    В данном разделе мы приведем ссылки на ресурсы для скачивания.
    Для развертывания учетной системы вым придется выполнить загрузку всех ресурсов, которые приведены для Интернет-магазина.
    И кроме этого вы должны скачать утилиту wpfCarshop.exe, скачать файл CarShopMsTecDoc и файл CarShopArticle.

    <h3>2.1.  wpfCarshop.exe</h3>
    @Html.ActionLink("wpfCarshop.exe", "WpfCarShop", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
    Загрузите архив, создайте на локальном диске папку и распакуйте архив для утилиты wpfCarshop.exe.
    Напомним, что CarShopRestToWeb.exe требует установки .Net4.0 на вашем компьютере.

    <h3>2.2.  CarShopMsTecDoc</h3>
    @Html.ActionLink("CarShopMsTecDoc", "TecDocMsSqlZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
    Загрузите архив, базы данных в формате MSSql артикулов, которые накоплены из TecDoc и клиентских программ основных оптовых поставщиков РБ.
    Подключите файл базы данных к серверу MSSql.

    <h3>2.3.  Артикулы торговой сети</h3>
    @Html.ActionLink("Артикулы торговой сети", "CarShopArticle", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
    Напомним, что информационная инфрастуктура имеет два уровня: торговая сеть, и магазины в рамках торговой сети.
    Если вы планируете интегрироваться с интернет-магазином нашего сайта, то ваша торговая сеть должна иметь ID<p />
    <b>27d77e44-9ac0-49d6-a8dd-9c69f3de5725</b><p />
    База данных артикулов торговой сети сформирована именно с этим ID. Перечень артикулов в этой базе данных содержит расширение (более 400 000), артикулами,
    которых нет в TecDoc, но которыми торгуют основные оптовые поставщики РБ.<p />
    @Html.ActionLink("7 Наполнение каталога артикулов вашей торговой сети", "CarShopArticleContext", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
    Перейдите по указанной ссылке, для получения более детальной информации по поводу каталога артикулов вашей торговой сети.



    <h3>2.4.  Архив с основным web-приложением</h3>
    @Html.ActionLink("Учетная система", "InstallCarShopZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
    Загрузите архив с программным обеспечением -- web-приложение, которое разворачивается или в виде сайта в интернет или виде сайта в вашей локальной сети.<p />
    @Html.ActionLink("11. Развертывание решения на узле интернет сервер", "InstallonIIS", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
    Перейдите по указанной ссылке, для получения более детальной информации по поводу развертывания web-приложения.

    <h3>2.5.  Архив с web-приложением Online остатков и цен</h3>
    @Html.ActionLink("Админка", "InstallCarShopAdminZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })<p />
    Загрузите архив с программным обеспечением -- web-приложение, которое разворачивается или в виде сайта в интернет или виде сайта в вашей локальной сети.<p />
    @Html.ActionLink("11. Развертывание решения на узле интернет сервер", "InstallonIIS", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
    Перейдите по указанной ссылке, для получения более детальной информации по поводу развертывания web-приложения. Сайт админки разворачивается аналогичным образом.
    Инструкции по использованию приводятся на главной странице этого приложения.

    