@using CarShop.Properties;
@using CarShop.Helpers;

@{
    ViewBag.Title = "Регистрация гостевого стола заказов";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>16. Регистрация гостевого стола заказов</h2>
}


Для того чтобы посетители сайта смогли просматривать наличие товара и цены и сами смогли оформить
заказ  необходимо сконфигурировать экосистему для поддержки данного функционала.<br />
Существует два варианта предоставления такой услуги.<br />
1. Прямо в помещении магазина находится компьютер, на котором каждый покупатель самостоятельно может оформить свой заказ.<br />
2. Покупатель находится дома и оформляет свой заказ через интернет.<br />
3. Заказы оформляются и через компьютер в магазине и через интернет.<p />

Назовем стол заказов, развернутый локально (на площадке магазина) <b>локальным столом заказов</b>.<br />
Назовем стол заказов, развернутый в интеренет (на площадке интернет провайдера) <b>интернет столом заказов</b>.<p />
Если <b>база данных остатков (CarShopRestContext) стола заказов</b> не совпадает с <b>базой данных остатков (CarShopRestContext) магазина</b> необходимо
выполнять репликацию остатков из БД магазина в БД стола заказов.<br />
Если <b>база данных заказов (CarShopOrdersContext) стола заказов</b> не совпадает с <b>базой данных заказов (CarShopOrdersContext) магазина</b> необходимо
выполнять репликацию заказов из БД стола заказов в БД магазина.<br />
Напомним, что каждый магазин может иметь свою копию базы данных остатков (CarShopRestContext) и свою копию база данных заказов (CarShopOrdersContext).
Это касается и баз данных стола заказов.
Еще раз, репликация выполняется, если или базы данных не совпадают даже на одном физическом компьютере и репликация выполняется,
если базы данных расположены на разных физических компьютерах (к примеру, локальная реализация на площадке магазина
и интернет реализация на площадке интернет провайдера).<br />


<h2>В первом случае. Гостевой компьютер на площадке магазина</h2>
Вы должны перейти по ссылке<p />
@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />


<b>==1==</b><br />
В своем локальном решении зарегистрировать новое предприятие (т.е. торговую сеть) с предопределенным идентификатором<br />
<b>GUID=00000000-0000-0000-1111-111111111111</b><br />
<b>Наименование=Стол заказов</b><br />
<b>Включить флаг активности</b><br />
<b>Каталог артикулов не используется, поэтому можно заполнить любой строкой символов</b><br />
<b>Источник TecDoc=БД MSSQL (или ODBC TecDoc)</b><br />
<b>==2==</b><br />
В своем локальном решении для предприятия с <b>GUID=00000000-0000-0000-1111-111111111111</b> зарегистрировать новое подразделение
<b>GUID=00000000-0000-0000-1111-111111111111</b><br />
<b>Наименование=Стол заказов</b><br />
<b>Включить флаг активности</b><br />
<b>Включить флаг доступности</b><br />
<b>Тип=Стол заказов (или любое другое  значение, т.к. не бедет используеться)</b><br />
<b>Каталог остатков должен совпадать с каталогом остатков вашего магазина (т.е. подразделения)</b><br />
<b>Каталог продаж должен совпадать с каталогом остатков вашего магазина (т.е. подразделения) - не используется</b><br />
<b>Каталог прихода должен совпадать с каталогом остатков вашего магазина (т.е. подразделения) - не используется</b><br />
<b>Каталог заказов  должен совпадать с каталогом остатков вашего магазина (т.е. подразделения)</b><br />

<h2>Во втором случае. Оформление заказов через интернет.</h2>
Вы должны перейти по ссылке<p />
@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
<b>==1==</b><br />
В решении развернутом в интернет войти пользователем EcoSystemAdmin.<br />
<b>==2==</b><br />
<b>GUID=00000000-0000-0000-1111-111111111111</b><br />
<b>Наименование=Стол заказов</b><br />
<b>Включить флаг активности</b><br />
<b>Каталог артикулов не используется, поэтому можно заполнить любой строкой символов</b><br />
<b>Источник TecDoc=БД MSSQL</b><br />
<b>==3==</b><br />
В своем локальном решении для предприятия с <b>GUID=00000000-0000-0000-1111-111111111111</b> зарегистрировать новое подразделение
<b>GUID=00000000-0000-0000-1111-111111111111</b><br />
<b>Наименование=Стол заказов</b><br />
<b>Включить флаг активности</b><br />
<b>Включить флаг доступности</b><br />
<b>Тип=Стол заказов (или любое другое значение, т.к. не бедет используеться)</b><br />
<b>Каталог остатков = тому, что прописано в web.config (к примеру, CarShopRestContext)</b><br />
<b>Каталог продаж = тому, что прописано в web.config (к примеру, CarShopSalesContext) - не используется</b><br />
<b>Каталог прихода = тому, что прописано в web.config (к примеру, CarShopIncomeContext) -  не используется</b><br />
<b>Каталог заказов = тому, что прописано в web.config (к примеру, CarShopOrdersContext)</b><br />

<h2>В третьем случае. Заказы и через компьютер в магазине и через интернет.</h2>
Вы должны выполнить настройки пункта <b>(==1==)</b> и настройки пункта <b>(==2==)</b>.

<h2>Создание профиля магазина.</h2>
Чтобы пользователю стола заказов были видны атрибуты вашего магазина вам необходимо<p />
<h3>В первом случае</h3>
В решении развернутом локально войти пользователем EcoSystemAdmin или пользователем с правами администратора предприятия или администратора подразделения.<p />
@Html.ActionLink(Resources.GuestBranchTDES_INDEX, "Index", "GuestBranch", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
И создать запись профиля для вашего магазина.<p />

<h3>Во втором случае</h3>
В решении развернутом в интернет войти пользователем EcoSystemAdmin или пользователем с правами администратора предприятия или администратора подразделения.<p />
@Html.ActionLink(Resources.GuestBranchTDES_INDEX, "Index", "GuestBranch", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
И создать запись профиля для вашего магазина.<p />

<h3>В третьем случае</h3>
В решении развернутом локально войти пользователем EcoSystemAdmin или пользователем с правами администратора предприятия или администратора подразделения.<p />
@Html.ActionLink(Resources.GuestBranchTDES_INDEX, "Index", "GuestBranch", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
И создать запись профиля для вашего магазина.<br />
В решении развернутом в интернет войти пользователем EcoSystemAdmin или пользователем с правами администратора предприятия или администратора подразделения.<p />
@Html.ActionLink(Resources.GuestBranchTDES_INDEX, "Index", "GuestBranch", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
И создать запись профиля для вашего магазина.


<h2>Важные замечания.</h2>
<b>Для первого случая</b>, когда прямо в помещении магазина находится компьютер, на котором каждый покупатель самостоятельно оформляет свой заказ,
вы можете для стола заказов создать свою базу данных каталога остатков (к примеру с именем CarShopRestZZZ)
и свою базу данных каталога заказов (к примеру с именем CarShopOrdersZZZ). В этом случае для того, чтобы исполнитель (продавец) увидел
заказы сделанные на компьютере в магазине необходимо выполнять операцию репликации заказов (из БД стола заказов в БД магазина). Это с одной стороны.
И с другой стороны, для того, чтобы покупатель увидел остатки и цены вашего магазина,  необходимо постоянно выполнять репликацию остатков
магазина в стол заказов (из БД магазина в БД стола заказов).<p />
<b>Для второго и третьего случая</b> без вариантов. Для стола заказов развернутого локально базы данных магазина и базы данных стола заказов должны совпадать.
С другой стороны, необходимо настроить репликацию остатков из локальной БД магазина в БД интернет и настроить репликацию из БД заказов интернет в БД заказов магазина.
В этом случае две локальных базы данных магазина и локального стола заказов совпадают (это БД остатков и БД заказов).
Согласование остатков между локальной базой данных магазина и базой данных в интернет реализуется механизмом репликаций.