@using CarShop.Helpers;
@{
    ViewBag.Title = "Каталог TecDoc В формате Ms-Sql";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>12. Каталог TecDoc В формате Ms-Sql</h2>
}





<h2>12.1. Скачать и воспользоваться архивом БД с каталогом TecDoc</h2>

<br /><b>Перйдите на компьютер, где развернут сервер баз данных.</b><p />

12.1.1. Скачайте архив с каталогом четвертого квартала 2013 года<p />
@Html.ActionLink("CarShopMsTecDoc2014Q3", "TecDocMsSqlZip", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
12.1.2. Извлеките из архива файлы и поместите их в папку<br />
<b>C:\Program Files\Microsoft SQL Server\ТУТ_ИМЯ_SQL_СЕРВЕРА\MSSQL\DATA</b><p />
где <b>ТУТ_ИМЯ_SQL_СЕРВЕРА</b> - это имя сервера, которое вы присвоили
на шаге 1.3.6 @Html.ActionLink("Развертывание MSSQL Express 2012", "HowToMSSQL", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<br />
12.1.3. Запустите <b>MSSQL Management Studio</b><br />
12.1.4. Правым кликом мыши вызовите меню и вберите пункт <b>"Присоединить"</b><br />
12.1.5. Появится блок диалога <b>"Присоединение базы данных".</b><br />
12.1.6. Кликните кнопку <b>Добавить</b><br />
12.1.6. В появившемся блоке диалога укажите файл <b>CarShopMsTecDoc2013Q4.mdf</b> и кликните Ok<p />

<b>Перйдите на компьютер, где развернут интернет сервер.</b><p />
Блокнотом откройте файл <br />
<b>C:\inetpub\wwwroot\carshop\web.config</b><br />
Имя <b>carshop</b> было определено на шаге 11.2.1. и на шаге 11.4.1.
@Html.ActionLink("Развертывание решения на узле интернет сервер", "InstallonIIS", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<br />

В файле <b>web.config</b> перейдите к блоку данных:<br />
<pre><b>
@HttpUtility.HtmlDecode("<connectionStrings>")
...
@HttpUtility.HtmlDecode("    <add name=\"CarShopMsTecDocContext\" ")
@HttpUtility.HtmlDecode("              connectionString=\"Data Source=ИМЯ_КОМПЬЮТЕРА\\ИМЯ_SQL_СЕРВЕРА;")
@HttpUtility.HtmlDecode("              Initial Catalog=CarShopMsTecDoc2013Q4;Persist Security Info=True;")
@HttpUtility.HtmlDecode("              User ID=sa;Password=ТУТ_ПАРОЛЬ\" providerName=\"System.Data.SqlClient\"/>")
@HttpUtility.HtmlDecode("</connectionStrings>") 
</b></pre><br />
И убедитесь в том, что <b>Initial Catalog=CarShopMsTecDoc2013Q4</b>. Если <b>Initial Catalog</b> определен именем другой базы данных,
замените на то имя, которое появилось в левом пенале <b>MSSQL Management Studio</b> после выполнения шагов 12.1.1-12.1.6.<p />
<b>Замечание:</b> Запрещается изменять два имени<br />
1. Запрещается изменять <b>name="CarShopContext"</b><br />
2. Запрещается изменять <b>name="CarShopMsTecDocContext"</b><br />
т.к. эти две базы данных не могут дублироваться в системе и их имена зашиты в код. Если изменить, то система не запустится.<p />



<h2>12.2. Создать свой собственный каталог</h2>
Для создания своей собственной копии каталога понадобится промышленная версия MS Sql server Enterprise Edition,  т.к. размер базы данных в процессе наполнения начинает превышать 10 GB.
После наполнения базы данных необходимо выполнить сжатие таблиц и индексов. После этого выполнить сжатие файла базы данных. В результате объем данных упадет с 17 GB до 3.6GB.
Но база данных со сжатыми таблицами и индексами не читается версией MS Sql Express Edition. В результате необходимо отменить сжатие и вы получите базу объемом 9 GB.
Файл базы данных <b>CarShopMsTecDoc2013Q4.mdf</b>, именно таким образом и был создан. Для выполнения сжатия и обратной операции необходима другая версия, а именно MS Sql server Enterprise Edition со студией.
Данную версию можно скачать и установить в Eval-режиме без нарушения лицензионных правил. После выполнения работ придется деинсталировать данный продукт с вашего компьютера.<br />
@Html.ExternalLink("http://www.microsoft.com/en-us/sqlserver/editions/2012-editions/enterprise.aspx", "http://www.microsoft.com/en-us/sqlserver/editions/2012-editions/enterprise.aspx", new { target = "_blank" }, new { })<p />

Если вы являетесь обладателем лицензии на Standard Edition и выше, то операции сжатия можно не выполнять, т.к. файлы баз данных не имеют ограничения по размеру.

Действия описанные в данном подразделе необходимо выполнять в том случае, когда вы хотите использовать каталог TecDoc в формате MsSql,
более свежего издания (позднее 2013Q4) или не смогли воспользоваться пунктом 12.1. <br />
Формирование каталога TecDoc в формате MsSql является очень затратным по времени процессом.
И может отнять у вас неделю или более (Все зависит от вычислительных мощьностей, которыми вы воспользуетесь для проведения работ).
На формирование каталога, <b>CarShopMsTecDoc2013Q4</b> потребовалась неделя. При этом использовался центр обработки данных (Intel Xeon 1245 V2 + Raid 0 Sata 3)
и пять и пять виртуальных машин. В одной виртуальной машине крутился Ms Sql и в четырех других крутился TecDoc и WpfCarShp.exe.
Причиной такого большого количества источников TecDoc является ограниченное число одновременных запросов, которые может без ошибок обработать TransBase.
(TransBase - это база данных, на которой пострен TecDoc). В этом смысле все не так весело как хотелось бы.<br />

<h3>12.2.1. Создание пустой БД на сервере Ms Sql сервер</h3>

<br /><b>Перйдите на компьютер, где развернут сервер баз данных и установлена утилита WpfCarShp.exe.</b><p />
Воспользуйтесь пунктом 3.2. @Html.ActionLink("Создание баз данных с использованием утилиты WpfCarShop", "HowToWpfCarShop", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<br />
для создания пустой БД предназначенной для хранения каталога TecDoc.<p />

<h3>12.2.2. Конфигурирование компьютера на котором будет проводиться конвертирование</h3>
<br /><b>Перйдите на компьютер, где развернут каталог TecDoc.</b><p />
Наполнение данными базы данных созданной в пункте 12.2.1. осуществляется утилитой WpfCarShp.exe. Выше мы сделали замечание о том, что одного компьютера для выполнеия конвертирования может и не хватить.
(Вы можете не дождаться окончания процесса конвертирования).<p />
Для выполнения конвертирования утилиту WpfCarShp.exe необходимо запускать на том компьютере, где развернут каталог TecDoc. Чтобы начать конвертировать необходимо <b>сконфигурировать компьютер</b>:<br />
1. Установить Net 3.5<br />
2. Установить Net 4.0<br />
3. Установить утилиту WpfCarShp.exe<br />
4. Сконфигурировать ODBC источник для доступа к TecDoc<br />
5. Регистрация вашей торговой сети с ситеме<p />

Шаги 1 и 2 описаны в пунктах 1.2.1 и 1.2.2 раздела @Html.ActionLink("Развертывание MSSQL Express 2012", "HowToMSSQL", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
Шаг 3 описан в 3.1.1-3.1.7 раздела 3. @Html.ActionLink("Создание баз данных с использованием утилиты WpfCarShop", "HowToWpfCarShop", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
Шаг 4 описан в разделе 5. @Html.ActionLink("Конфигурирование ODBC TecDoc", "ODBCTecDoc", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<p />
Шаг 5 описан в разделе 6. @Html.ActionLink("Регистрация вашей торговой сети", "Enterprise", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })<br />

<h3>12.2.3. Выполнение конвертирования</h3>
12.2.3.1. Запустить утилиту WpfCarShop<br />
12.2.3.2. Использовать пункт меню <b>Развертывание</b> и затем <b>Enterprises</b><br />
12.2.3.3. На появившейся форме кликните кнопку <b>Обновить</b><br />
12.2.3.4. Найти строку вашего предприятия и кликнуть по ней. При этом ниже строки появятся дополнительные кнопки<br />
12.2.3.5. Из появившихся кнопок кликните <b>Артикулы предприятия</b><p />

На экране появится форма с перечнем команд (кнопок). Загрузку выполнять в следующем порядке:<br />
<b>1. Вид топлива</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCarModelFuelTDES</b>. Число записей от 17.<p />
<b>2. Производители авто</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCarBrandTDES</b>. Число записей от 389.<p />
<b>3. Типы моделей</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCarModelTypeTDES</b>. Число записей от 12195.<p />
<b>4. Модели авто</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCarModelTDES</b>. Число записей от 60576.<p />
<b>5. Артикулы по группам</b>:<br />
Наполняется таблица <b>EnterpriseArticleCategoryItemTDES</b>. Число записей от 4168488.<br />
Данную таблицу необходимо <b>наполнять порционно одновременно работающими несколькими копиями утилиты  WpfCarShp.exe</b>.<br />
Для наполнения данного ресурса появилась дополнительная кнопка <b>Макс</b>. Кликните по ней, чтобы узнать верхнюю границу последней порции.
Для загрузки данного ресурса  мы <b>рекомендуем на одном компьютере запускать не более четырех</b> (может быть пяти) <b>копий WpfCarShp.exe</b>.
Большего количества не выдержит сам TecDoc и процесс загрузки начнет глючить.
Но нет проблем, если вы в свою сеть подключите еще один компьютер на котором развернут каталог TecDoc (не клиент TecDoc, но сам каталог TecDoc)
и на нем запустите еще четыре копии утилиты  WpfCarShp.exe.
Порции должны иметь шаг в 500000 (пол-миллиона).<br />
На первой копии WpfCarShp.exe введите границы 0 и 500000.<br />
На второй копии WpfCarShp.exe введите границы 500000 и 1000000.<br />
На третьей копии WpfCarShp.exe введите границы 1000000 и 1500000.<br />
На четвертой копии WpfCarShp.exe введите границы 1500000 и 2000000.<br />
Дождитесь успешной загрузки всех порций затем повторите запуск, очередных порций пока не дойдете до верхней границы полученной по кнопке <b>Макс</b>.<p />

После загрузки <b>Артикулов по группам</b> наобходимо <b>сжать данныею</b>. Для этого: <br />
(а.) Закройте все копии WpfCarShp.exe.<br />
(b.) запустите MSSQL Management Studio. <br />
(с.) Развнрните узел <b>"Базы данных"</b>. <br />
(d.) Разверните узел вашей БД (к примеру это CarShopMsTecDoc2014Q1). <br />
(e.) Разверните узел таблицы. <br />
(f.) Станьте на таблицу EnterpriseArticleCategoryItemTDES и правой кнопкой мыши вызовите меню <br />
(g.) Выберите пункт <b>Хранилище</b> и затем пункт <b>Управление сжатием</b><br />
(h.) Появится блок диалога. Нажмите кнопку <b>Далее</b><br />
(j.) Включите флаг <b>Использовать один тип сжатия для всех секций</b><br />
(k.) Выберите тип сжатия <b>Page</b><br />
(l.) Нажмите <b>Далее</b><br />
(m.) Выберите <b>Запустить немедленно</b> и кликните кнопку <b>Готово</b><br />
Дождитесь окончания процесса. После этого для этой таблицы разверните узел <b>Индексы</b>. Станьте на каждый их них и правой кнопкой мыши вызовите меню.
Далее воспользуйтесь шагами (g.)-(m.). Дождитесь окончания процессов.<br />
Станьте на узел базы данных (к примеру это CarShopMsTecDoc2014Q1). и правой кнопкой мыши вызовите меню <br />
Выберите пункт <b>Задачи</b>, далее <b>Сжать</b> и далее <b>База данных</b>. Дождитесь окончания процесса.<p />


<b>6. Брэнды неоригинальных деталей</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseArticleBrandTDES</b>. Число записей от 2549.<p />

<b>7. Аналоги</b>:<br />
Наполняется таблица <b>EnterpriseArticleLookUpTDES</b>. Число записей от 43166060.<br />
Данную таблицу необходимо <b>наполнять порционно одновременно работающими несколькими копиями утилиты  WpfCarShp.exe</b>.<br />
Для наполнения данного ресурса появилась дополнительная кнопка <b>Макс</b>. Кликните по ней, чтобы узнать верхнюю границу последней порции.
Для загрузки данного ресурса  мы <b>рекомендуем на одном компьютере запускать не более четырех</b> (может быть пяти) <b>копий WpfCarShp.exe</b>.
Большего количества не выдержит сам TecDoc и процесс загрузки начнет глючить.
Но нет проблем, если вы в свою сеть подключите еще один компьютер на котором развернут каталог TecDoc (не клиент TecDoc, но сам каталог TecDoc)
и на нем запустите еще четыре копии утилиты  WpfCarShp.exe.
Порции должны иметь шаг в 500000 (пол-миллиона).<br />
На первой копии WpfCarShp.exe введите границы 0 и 500000.<br />
На второй копии WpfCarShp.exe введите границы 500000 и 1000000.<br />
На третьей копии WpfCarShp.exe введите границы 1000000 и 1500000.<br />
На четвертой копии WpfCarShp.exe введите границы 1500000 и 2000000.<br />
Дождитесь успешной загрузки всех порций затем повторите запуск, очередных порций пока не дойдете до верхней границы полученной по кнопке <b>Макс</b>.<p />


После загрузки <b>аналогов</b> наобходимо сжать данные. Используйте шаги аналогичные тем, которые описаны для пункта <b>Артикулов по группам</b>.<p />

<b>8. Применяемость артикула</b>:<br />
Наполняется таблица <b>EnterpriseArticleApplicTDES</b>. Число записей от 100620238.<br />
Данную таблицу необходимо <b>наполнять порционно одновременно работающими несколькими копиями утилиты  WpfCarShp.exe</b>.<br />
Для наполнения данного ресурса появилась дополнительная кнопка <b>Макс</b>. Кликните по ней, чтобы узнать верхнюю границу последней порции.
Для загрузки данного ресурса  мы <b>рекомендуем на одном компьютере запускать НЕ БОЛЕЕ ДВУХ</b> (может быть трех) <b>копий WpfCarShp.exe</b>.
Большего количества не выдержит сам TecDoc и процесс загрузки начнет глючить. Но нет проблем, если вы в свою сеть подключите еще один компьютер на котором развернут каталог TecDoc (не клиент TecDoc, но сам каталог TecDoc)
и на нем запустите еще ДВЕ копии утилиты  WpfCarShp.exe. <b>Порции должны иметь шаг в 1 (одну тысячу!!!)</b>.<br />
Дело в том что распределение данных для данного ресурса неоднородно. Для четвертого квартала записи формируются для интервала от 0 до 70 тысяч. и интервала от 900000 до <b>Макс</b>.<br />
Чтобы для очередной порции в тысячу записей определить есть ли записи для заливки используйте следующий SQL запрос<br />
<b>select count(*) from TOF_LINK_LA_TYP join tof_link_art on lat_la_id nljoin la_id where LAT_TYP_ID >= 1000 and LAT_TYP_ID <= 2000</b><br />
или менее точный но более быстрый запрос<br />
<b>select count(*) from TOF_TYPES where TYP_ID >= 1000 and TYP_ID <= 2000</b><br />
где вместо 1000 и 2000 вы подставляете числа своего интервала.<br />
Если запрос вернул ноль, то для данного интервала запускать процесс нет нужды.<br />
SQL запрос необходимо выполнить в специальной среде или программе. Одну из таких (я нашел первую попашуюся в интеренете) можно скачать (и затем установить по следующей ссылке)<br />
@Html.ExternalLink("http://odbcquerytool.sourceforge.net/", "http://odbcquerytool.sourceforge.net/", new { target = "_blank" }, new { })<p />


После загрузки <b>Применяемость артикула</b> наобходимо сжать данные. Используйте шаги аналогичные тем, которые описаны для пункта <b>Артикулов по группам</b>.<p />

<b>9. Артикулы TecDoc</b>:<br />
Наполняется таблица <b>EnterpriseArticleTecDocTDES</b>. Число записей от 4099764.<br />
Данную таблицу необходимо <b>наполнять порционно одновременно работающими несколькими копиями утилиты  WpfCarShp.exe</b>.<br />
Для наполнения данного ресурса появилась дополнительная кнопка <b>Макс</b>. Кликните по ней, чтобы узнать верхнюю границу последней порции.
Для загрузки данного ресурса  мы <b>рекомендуем на одном компьютере запускать не более четырех</b> (может быть пяти) <b>копий WpfCarShp.exe</b>.
Большего количества не выдержит сам TecDoc и процесс загрузки начнет глючить.
Но нет проблем, если вы в свою сеть подключите еще один компьютер на котором развернут каталог TecDoc (не клиент TecDoc, но сам каталог TecDoc)
и на нем запустите еще четыре копии утилиты  WpfCarShp.exe.
Порции должны иметь шаг в 500000 (пол-миллиона).<br />
На первой копии WpfCarShp.exe введите границы 0 и 500000.<br />
На второй копии WpfCarShp.exe введите границы 500000 и 1000000.<br />
На третьей копии WpfCarShp.exe введите границы 1000000 и 1500000.<br />
На четвертой копии WpfCarShp.exe введите границы 1500000 и 2000000.<br />
Дождитесь успешной загрузки всех порций затем повторите запуск, очередных порций пока не дойдете до верхней границы полученной по кнопке <b>Макс</b>.<p />


После загрузки <b>Артикулы TecDoc</b> наобходимо сжать данные. Используйте шаги аналогичные тем, которые описаны для пункта <b>Артикулов по группам</b>.<p />

<b>10. Категории TecDoc</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCategoryTecDocTDES</b>. Число записей от 2778.<p />

<b>11. Элементы Категории TecDoc</b>: (Кликните по кнопке и дождитесь отклика в виде блока диалга <b>"Операция выполнена успешно"</b>). Наполняется таблица <b>EnterpriseCategoryItemTecDocTDES</b>. Число записей от 35768.<p />