@model TecDocEcoSystemDbClassLibrary.EnterpriseBrandTDES
@using CarShop.Properties;
@{
    ViewBag.Title = Resources.DETAILS_ACTION;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
}


<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Resources.EnterpriseBrandHelp1
        <br>
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Каталог артикулов", "Articles", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
    </div>
</div>

<h2>@Resources.DETAILS_ACTION</h2>

@if (!SearchEntGuid.HasValue)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.EnterpriseBrand_INDEX, "Index", "EnterpriseBrand", new { searchEntGuid = SearchEntGuid }, new { })</li>
        }
    </ol>
    
    @Html.ValidationSummary(true)
}
else
{


    <div>
        @*<h4>EnterpriseBrandTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
            {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.EnterpriseBrand_INDEX, "Index", "EnterpriseBrand", new { searchEntGuid = SearchEntGuid }, new { })</li>
            }
        </ol>


        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <dl class="dl-horizontal">
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <dt>
                            @Html.DisplayNameFor(model => model.EntBrandNic)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EntBrandNic)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EntBrandDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EntBrandDescription)
                        </dd>

                </dl>
            </div>

            <div class="col-xs-8 col-sm-3 col-md-3">
                <div class="btn-group-vertical">
                    @Html.ActionLink(Resources.EnterpriseArticle_INDEX, "Index", "EnterpriseArticle", new { searchEntBrandNic = Model.EntBrandNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        
    </div>
<p>
    @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin))
    {
        @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { idEntBrandNic = Model.EntBrandNic, searchEntGuid = SearchEntGuid }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", new { searchEntGuid = SearchEntGuid }, new { })
</p>

}