@model TecDocEcoSystemDbClassLibrary.EnterpriseTDES
@using CarShop.Properties;
@{
    ViewBag.Title = Resources.EDIT_ACTION;
}

<h2>@Resources.EDIT_ACTION <small>@Resources.EnterpriseTDES_INDEX</small></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>EnterpriseTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        </ol>

        <hr />
        @Html.ValidationSummary(true)
        
        @if (!ViewBag.IsEcoSystemAdmin)
        {
            @Html.HiddenFor(model => model.IsActive)
        }


        <div class="form-group">
            @Html.LabelFor(model => model.EntGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.EntGuid)*@
                @Html.TextBoxFor(model => model.EntGuid, new { @readonly = "true" })
                @Html.ValidationMessageFor(model => model.EntGuid)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EntDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntDescription)
                @Html.ValidationMessageFor(model => model.EntDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.IsEcoSystemAdmin)
                {
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
                }
                else
                {
                    @Html.DisplayFor(model => model.IsActive)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArticleCatalog, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.IsEcoSystemAdmin) { 
                    @Html.EditorFor(model => model.ArticleCatalog)
                }
                else
                {
                    @Html.TextBoxFor(model => model.ArticleCatalog, new { @readonly="true"} )
                }
                @Html.ValidationMessageFor(model => model.ArticleCatalog)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TecDocSrcTypeId, "TecDocSrcTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TecDocSrcTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.TecDocSrcTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.SAVE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index") 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
