@using CarShop.Properties;
@model TecDocEcoSystemDbClassLibrary.User2WorkPlaceTDES

@{
    ViewBag.Title = Resources.MakeUser2WorkPlace;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
    SelectList sliWorkPlaces = ViewBag.sliWorkPlaces;
    SelectList sliUsers = ViewBag.sliUsers;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Размещение исполнителей по рабочим местам", "User2WorkPlace", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.MakeUser2WorkPlace</h2>

@if (  !SearchEntBranchGuid.HasValue )
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
        @if (SearchEntGuid.HasValue)
        {
            <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
            <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.User2WorkPlace_INDEX, "Index", "User2WorkPlace", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
            }
        }
    </ol>
    @Html.ValidationSummary(true)
} else {


using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>User2WorkPlaceTDES</h4>*@
        <ol class="breadcrumb">
            <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
            @if (SearchEntGuid.HasValue)
        {
                <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

            if (SearchEntBranchGuid.HasValue)
            {
                <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
                <li>@Html.ActionLink(Resources.User2WorkPlace_INDEX, "Index", "User2WorkPlace", new {searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })</li>
            }
        }
        </ol>
        <hr />
        @Html.ValidationSummary(true)
        @Html.Hidden("SearchEntBranchGuid", SearchEntBranchGuid)
        @Html.Hidden("SearchEntGuid", SearchEntGuid)



        
        <div class="form-group">
            @Html.LabelFor(model => model.WorkPlaceGuid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkPlaceGuid", sliWorkPlaces)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntUserNic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EntUserNic", sliUsers)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.CREATE_ACTION" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BACKTOLIST_ACTION, "Index", "User2WorkPlace", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

}