@using CarShop.Properties;
@model IEnumerable<TecDocEcoSystemDbClassLibrary.User2WorkPlaceTDES>

@{
    ViewBag.Title = Resources.User2WorkPlace_INDEX;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        Перейдите по ссылке для получения более детальной информации
        @Html.ActionLink("Размещение исполнителей по рабочим местам", "User2WorkPlace", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    </div>
</div>


<h2>@Resources.User2WorkPlace_INDEX</h2>


<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
    @if (SearchEntGuid.HasValue)
    {
        <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
        <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

        if (SearchEntBranchGuid.HasValue)
        {
            <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
        }
    }
</ol>

@Html.ValidationSummary(true)

@if (  SearchEntBranchGuid.HasValue )
{
if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker)) {
    <p>
        @Html.ActionLink(Resources.MakeUser2WorkPlace, "Create", "User2WorkPlace", new { searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, htmlAttributes:new { @class = "btn btn-primary" })
    </p>
}
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntUserNic)
        </th>
        <th class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.WorkPlaceGuid)
        </th>
        <th class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.SetAt)
        </th>
        <th class="hidden-xs hidden-sm"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntUserNic)
        </td>
        <td class="hidden-xs hidden-sm">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td class="hidden-xs hidden-sm">
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="hidden-xs hidden-sm">
            @Html.DisplayFor(modelItem => item.WorkPlaceGuid)
        </td>
        <td class="hidden-xs hidden-sm">
            @Html.DisplayFor(modelItem => item.SetAt)
        </td>
        <td class="hidden-xs hidden-sm btn-group btn-group-xs">
            @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.WorkPlaceGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-info" })
            @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
            {
                @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.WorkPlaceGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
    
    <tr class="visible-xs visible-sm">
            <td colspan="2" class="btn-group btn-group-xs">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkPlaceGuid)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.WorkPlaceGuid)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SetAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.SetAt)
                    </dd>
                </dl>
            </td>
    </tr>
    
    
    <tr class="visible-xs visible-sm active">
            <td colspan="2" class="btn-group btn-group-xs">
                @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.WorkPlaceGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-info" })
                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin) || (ViewBag.IsBranchBooker))
                {
                    @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.WorkPlaceGuid, searchEntGuid = SearchEntGuid, searchEntBranchGuid = SearchEntBranchGuid }, new { @class = "btn btn-danger" })
                }
            </td>
    </tr>
    
}

</table>

}    