@using CarShop.Properties;
@model IEnumerable<TecDocEcoSystemDbClassLibrary.EnterpriseBranchWorkPlaceTDES>

@{
    ViewBag.Title = Resources.WorkPlace_INDEX;
    Guid? SearchEntGuid = ViewBag.SearchEntGuid;
    String EntDescription = ViewBag.EntDescription as String;
    Guid? SearchEntBranchGuid = ViewBag.SearchEntBranchGuid;
    String EntBranchDescription = ViewBag.EntBranchDescription as String;
    SelectList sliIsActive = ViewBag.sliIsActive as SelectList;
}

<div class="panel panel-info" hidden>
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Resources.EnterpriseBranchWorkPlacesHelp1
    </div>
</div>

<h2>@Resources.WorkPlace_INDEX</h2>

<ol class="breadcrumb">
    <li>@Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises")</li>
    @if (SearchEntGuid.HasValue)
    {
        <li>@Html.ActionLink(EntDescription, "Details", "Enterprises", new { id = SearchEntGuid }, new { })</li>
        <li>@Html.ActionLink(Resources.Branch_INDEX, "Index", "EnterpriseBranches", new { searchEntGuid = SearchEntGuid }, new { }) </li>

        if (SearchEntBranchGuid.HasValue)
        {
            <li>@Html.ActionLink(EntBranchDescription, "Details", "EnterpriseBranches", new { id = SearchEntBranchGuid }, new { })</li>
        }
    }
</ol>

@Html.ValidationSummary(true)

@if ( SearchEntBranchGuid.HasValue )
{

if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin)) {    
<p>
    @Html.ActionLink(Resources.CREATENEW_ACTION, "Create", new {searchEntGuid = SearchEntGuid,  searchEntBranchGuid = SearchEntBranchGuid}, new { @class = "btn btn-primary" })
</p>
}

using (Html.BeginForm("Index", "EnterpriseBranchWorkPlaces", FormMethod.Get, FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
    <h3>@Resources.FILTER_TITLE</h3>
    @Html.Hidden("searchEntGuid", SearchEntGuid)
    @Html.Hidden("searchEntBranchGuid", SearchEntBranchGuid)
    <div class="form-group">
    @Resources.FILTER_ISACTIVE     
    </div>
    <div class="form-group">
    @Html.DropDownList("showIsActive", sliIsActive, new { @class = "form-control" })
    </div>
    <input type="submit" value="@Resources.SEARCH_ACTION" class="btn btn-info" />
}


<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkPlaceGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th class="hidden-xs hidden-sm"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPlaceGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td class="hidden-xs hidden-sm btn-group btn-group-xs">
            @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin))
            {
                @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-primary" })
            }

            @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-info" })

            @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin))
            {
                @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
        <tr class="visible-xs visible-sm active">
            <td colspan="2" class="btn-group btn-group-xs">
                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin))
                {
                    @Html.ActionLink(Resources.EDIT_ACTION, "Edit", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-primary" })
                }

                @Html.ActionLink(Resources.DETAILS_ACTION, "Details", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-info" })

                @if ((ViewBag.IsEcoSystemAdmin) || (ViewBag.IsEnterpriseAdmin) || (ViewBag.IsBranchAdmin))
                {
                    @Html.ActionLink(Resources.DELETE_ACTION, "Delete", new { id = item.WorkPlaceGuid }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
}
</table>
}    